/* Theme Colors */
/* Typography */
/* ---------------------- 1rem = 10px -------------------- */
/* Borders */
/* Grid */
/* Space */
/* Animation */
/* Buttons */
/* Box Shadows */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* <html> = the root */
html {
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  overflow: hidden;
}

main {
  height: 100%;
}

:focus:not(:focus-visible) {
  outline: none;
}

menu,
ol,
ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

dialog {
  border: none !important;
}

hr {
  border: 0;
}

img {
  max-width: 100%;
}

button {
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.nav {
  position: fixed;
  z-index: 9;
  width: 8%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0 4.5rem 0;
  background-color: #29292B;
  /* Safari */
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
.nav img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.nav .nav-links {
  width: 100%;
  position: relative;
  margin-top: 5rem;
}
.nav .nav-links .link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.nav .nav-links .link p {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #FFFFFF;
}
.nav .nav-links li {
  transition: background-color ease-out 200ms;
}
.nav .nav-links li:hover,
.nav .nav-links li:focus {
  background-color: #D6A330;
}
.nav .nav-links .link.dropdown::after {
  content: url(../assets/icons/carret-right.svg);
  position: absolute;
  display: inline-block;
  right: 0;
  transform: translateX(-1.5rem) translateY(1rem);
}
.nav .nav-con-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav .nav-con-1 .nav-links .dropdown {
  position: relative;
}
.nav .nav-con-1 .nav-links .dropdown.showMenu {
  background-color: #D6A330;
}
.nav .nav-con-1 .nav-links .dropdown.showMenu > .link.dropdown + .sub-menu {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transition: opacity ease-out 250ms;
}
.nav .nav-con-1 .nav-links .sub-menu {
  position: absolute;
  z-index: -9;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: #D6A330;
  pointer-events: none;
  left: 100%;
}
.nav .nav-con-1 .nav-links .sub-menu li {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 4rem 2rem 2rem;
}
.nav .nav-con-1 .nav-links .sub-menu li img {
  position: absolute;
}
.nav .nav-con-1 .nav-links .sub-menu li span {
  font-size: 1.2rem;
  font-weight: 700;
  white-space: nowrap;
  color: #FFFFFF;
  padding-left: 6rem;
}
.nav .nav-con-1 .nav-links .sub-menu li:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.125);
  background-blend-mode: darken;
}
.nav .nav-con-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-nav {
  position: fixed;
  width: 92%;
  height: 10%;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5rem 0 4.5rem;
  background-color: #29292B;
  /* Safari */
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
.profile-nav .profile-nav-con {
  display: flex;
  align-items: center;
}
.profile-nav .profile-nav-con img:first-child {
  padding-right: 2rem;
}

.main-dashboard {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 90%;
  width: 92%;
  z-index: 10;
  background-color: #E0DFDF;
}
.main-dashboard .md-con-1 {
  padding: 2rem 4rem 2rem 2rem;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-dashboard .md-con-1 .wrapper p:first-child {
  font-size: 1.2rem;
  color: #29292B;
}
.main-dashboard .md-con-1 .wrapper p:last-child {
  font-size: 2rem;
  color: #29292B;
  font-weight: 700;
}
.main-dashboard .md-con-1 .wrapper {
  position: relative;
}
.main-dashboard .md-con-1 .wrapper:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 0;
  transform: translateX(-1.5rem);
  height: 100%;
  width: 1px;
  background-color: #29292B;
}
.main-dashboard .con-wrapper {
  display: flex;
  height: 90%;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}
.main-dashboard .con-wrapper .md-con-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 72%;
  padding-right: 1rem;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper {
  height: auto;
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card .p-wrap p {
  font-weight: 700;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card .p-wrap p:first-child {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #FFFFFF;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card .p-wrap p:last-child {
  font-size: 3.5rem;
  font-weight: 700;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card .tag-wrap {
  display: flex;
  justify-content: flex-end;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card .tag-wrap p {
  font-size: 1.2rem;
  color: white;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card:nth-of-type(odd) {
  background-color: #29292B;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card:nth-of-type(odd) .p-wrap p:last-child {
  color: #FFFF4E;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card:nth-of-type(even) {
  background-color: #D6A330;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card:nth-of-type(even) .p-wrap p:last-child {
  color: #29292B;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card:last-of-type .p-wrap p:first-child {
  margin-bottom: 1rem;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card:last-of-type .p-wrap p:last-child {
  font-size: 7rem;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card:nth-of-type(1) .tag-wrap span {
  font-weight: 700;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card:nth-of-type(2) .tag-wrap span {
  color: #FF0404;
  font-weight: 700;
}
.main-dashboard .con-wrapper .md-con-2 .card-wrapper .card:nth-of-type(3) .tag-wrap button {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  color: #D6A330;
  background: transparent;
  color: #FFFFFF;
  font-size: 1.5rem;
}
.main-dashboard .con-wrapper .md-con-2 .big-card {
  height: 100%;
  margin-top: 1rem;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 2rem;
  background-color: #FFFFFF;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.main-dashboard .con-wrapper .md-con-2 .big-card .div-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.main-dashboard .con-wrapper .md-con-2 .big-card .div-1 h2 {
  font-size: 2.5rem;
  color: #29292B;
}
.main-dashboard .con-wrapper .md-con-2 .big-card .div-1 .btn-wrapper {
  display: flex;
}
.main-dashboard .con-wrapper .md-con-2 .big-card .div-1 .btn-wrapper button {
  border-radius: 1rem;
  padding: 0.8rem 4rem 0.8rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #D6A330;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.main-dashboard .con-wrapper .md-con-2 .big-card .div-1 .btn-wrapper button:first-child {
  padding: 0.8rem 4rem 0.8rem 4rem;
  margin-right: 2rem;
}
.main-dashboard .con-wrapper .md-con-2 .big-card .div-1 .btn-wrapper button:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 2rem 0.8rem 2rem;
}
.main-dashboard .con-wrapper .md-con-2 .big-card .div-1 .btn-wrapper button:last-child span {
  margin-right: 2rem;
}
.main-dashboard .con-wrapper .md-con-2 .big-card .div-2 {
  height: 100%;
}
.main-dashboard .con-wrapper .md-con-2 .big-card .div-2 .graph {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 90%;
}
.main-dashboard .con-wrapper .md-con-3 {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: 1.2fr 0.8fr;
  gap: 10px 0px;
  width: 28%;
  height: 100%;
}
.main-dashboard .con-wrapper .md-con-3 .card-2 {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 2rem;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #29292B;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-1 h3 {
  font-size: 2rem;
  color: #FFFFFF;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-1 p:nth-of-type(1) {
  margin-top: 1.5rem;
  font-size: 3.5rem;
  font-weight: 700;
  color: #FFFF4E;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-1 p:nth-of-type(2) {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #FFFFFF;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .divider {
  margin: 2rem 0;
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-2 .circle-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: conic-gradient(#D6A330 50%, #FFFF4E 50%);
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-2 .circle-div .progress-value {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-2 .circle-div .progress-value p {
  font-size: 1.2rem;
  color: #FFFFFF;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-2 .circle-div .progress-value p:nth-of-type(1) {
  font-size: 1.8rem;
  font-weight: 700;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-2 .circle-div .progress-value p:nth-of-type(2) {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-2 .circle-div ~ p {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #FFFFFF;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-2 .circle-div ~ p span {
  font-weight: 700;
  color: #67FF4E;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:first-child .div-2 .circle-div::before {
  content: "";
  position: absolute;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-color: #29292B;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.main-dashboard .con-wrapper .md-con-3 .card-2:last-child h3 {
  font-size: 2rem;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:last-child .div-1 {
  margin: 2rem 0;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:last-child .div-1 .p-wrap {
  padding: 1rem 0;
  border-bottom: #E0DFDF 1px solid;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:last-child .div-1 .p-wrap .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:last-child .div-1 .p-wrap .wrap p {
  font-size: 2rem;
  font-weight: 700;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:last-child .div-1 .p-wrap .wrap ~ p {
  font-size: 1.2rem;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:last-child .div-2 {
  display: flex;
  justify-content: flex-end;
}
.main-dashboard .con-wrapper .md-con-3 .card-2:last-child .div-2 button {
  border-radius: 1rem;
  padding: 0.8rem 4rem 0.8rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #D6A330;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.main-dashboard {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 90%;
  width: 92%;
  z-index: 10;
  background-color: #FFFFFF;
}
.main-dashboard .am-con-1 {
  display: flex;
  flex-direction: column;
  height: 26%;
  padding: 4rem 4rem 2rem 4rem;
}
.main-dashboard .am-con-1 h2 {
  font-size: 2.5rem;
}
.main-dashboard .am-con-1 p {
  margin-top: 1.5rem;
  font-size: 1.8rem;
}
.main-dashboard .am-con-1 p span {
  font-weight: 700;
}
.main-dashboard .am-con-1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.main-dashboard .am-con-1 .container .wrapper {
  display: flex;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type button {
  border-radius: 1rem;
  padding: 0.8rem 4rem 0.8rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #D6A330;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type button a {
  color: #FFFFFF;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type button img {
  cursor: pointer;
  margin-left: 3rem;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type button:nth-of-type(n+2) {
  position: relative;
  padding-right: 8rem;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type button:nth-of-type(n+2) img {
  position: absolute;
  transform: translateY(0.3rem);
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type button:nth-of-type(2) {
  margin: 0 2rem 0 2rem;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type .borrower-dropdown {
  position: relative;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type .borrower-dropdown .dropdown-menu {
  position: absolute;
  z-index: -9;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: #D6A330;
  pointer-events: none;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
  top: 100%;
  width: 100%;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type .borrower-dropdown .dropdown-menu a {
  cursor: pointer;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type .borrower-dropdown .dropdown-menu a li {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1.5rem 4rem;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type .borrower-dropdown .dropdown-menu a li span {
  font-size: 1.5rem;
  font-weight: 700;
  white-space: nowrap;
  color: #FFFFFF;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type .borrower-dropdown .dropdown-menu a li:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.125);
  background-blend-mode: darken;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type .borrower-dropdown.showMenu > .link.dropdown {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type .borrower-dropdown > .link.dropdown > img {
  transition: transform ease-out 300ms;
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type .borrower-dropdown.showMenu > .link.dropdown > img {
  transform: scaleY(-1);
}
.main-dashboard .am-con-1 .container .wrapper:first-of-type .borrower-dropdown.showMenu > .link.dropdown + .dropdown-menu {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition: opacity ease-out 250ms;
}
.main-dashboard .am-con-1 .container .wrapper:last-of-type button {
  cursor: pointer;
  margin-right: 2rem;
  background: none;
}
.main-dashboard .am-con-1 .container .wrapper:last-of-type .search-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.main-dashboard .am-con-1 .container .wrapper:last-of-type .search-wrap input {
  font-size: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  outline: none;
  background-color: #EBEBEB;
  border-radius: 1rem;
  box-shadow: inset -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  padding-left: 6rem;
}
.main-dashboard .am-con-1 .container .wrapper:last-of-type .search-wrap input::placeholder {
  font-size: 2rem;
  position: absolute;
  top: 0;
  transform: translateY(1rem);
}
.main-dashboard .am-con-1 .container .wrapper:last-of-type .search-wrap input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.main-dashboard .am-con-1 .container .wrapper:last-of-type .search-wrap img {
  position: absolute;
  width: 8%;
  transform: translateX(1.5rem);
}
.main-dashboard .am-con-1 .btn-container {
  margin-top: 1.5rem;
}
.main-dashboard .am-con-1 .btn-container button {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  color: #D6A330;
  background: transparent;
}
.main-dashboard .am-con-2 {
  height: 74%;
  padding: 4rem 4rem 2rem 4rem;
}
.main-dashboard .am-con-2 .table-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  border-radius: 1.5rem;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.main-dashboard .am-con-2 .table-container table th {
  padding: 2rem 0;
  text-align: center;
}
.main-dashboard .am-con-2 .table-container table th span.th-name {
  font-size: 1.5rem;
  font-weight: 700;
}
.main-dashboard .am-con-2 .table-container table th .th-wrapper {
  display: flex;
  align-items: center;
}
.main-dashboard .am-con-2 .table-container table th .th-wrapper img {
  cursor: pointer;
  padding-left: 0.5rem;
}
.main-dashboard .am-con-2 .table-container table input[type=checkbox] {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  aspect-ratio: 1/1;
  height: 2rem;
  width: 2rem;
  border-radius: 0.4rem;
  background-color: #EBEBEB;
}
.main-dashboard .am-con-2 .table-container table input[type=checkbox]::after {
  content: url("../assets/icons/white-check.svg");
  position: absolute;
  top: 0.1rem;
  display: none;
}
.main-dashboard .am-con-2 .table-container table input[type=checkbox]:checked {
  background-color: #D6A330;
}
.main-dashboard .am-con-2 .table-container table input[type=checkbox]:checked:after {
  display: block;
}
.main-dashboard .am-con-2 .table-container table th:nth-of-type(-n+6) {
  text-align: left;
}
.main-dashboard .am-con-2 .table-container table th:first-of-type {
  padding-left: 1rem;
}
.main-dashboard .am-con-2 .table-container table th:nth-of-type(2) {
  padding-left: 1rem;
}
.main-dashboard .am-con-2 .table-container table td {
  padding: 1rem 0;
  font-size: 1.5rem;
}
.main-dashboard .am-con-2 .table-container table td .td-wrapper {
  display: flex;
  align-items: center;
}
.main-dashboard .am-con-2 .table-container table td .td-wrapper .td-num {
  font-weight: 700;
  margin-left: 1rem;
}
.main-dashboard .am-con-2 .table-container table td .td-wrapper .td-name {
  margin-left: 2rem;
}
.main-dashboard .am-con-2 .table-container table td .td-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-dashboard .am-con-2 .table-container table td .td-btn-wrapper button {
  cursor: pointer;
}
.main-dashboard .am-con-2 .table-container table td .td-btn-wrapper .a-btn-view {
  border-radius: 1rem;
  padding: 0.8rem 4rem 0.8rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #D6A330;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 0.6rem 3.5rem 0.6rem 3.5rem;
}
.main-dashboard .am-con-2 .table-container table td .td-btn-wrapper .a-btn-trash {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  color: #D6A330;
  background: transparent;
  padding: 0.8rem 4rem 0.8rem 4rem;
  font-size: 1.5rem;
}
.main-dashboard .am-con-2 .table-container table .td-due {
  font-weight: 700;
}
.main-dashboard .am-con-2 .table-container table td:first-of-type {
  padding-left: 1rem;
}
.main-dashboard .am-con-2 .table-container table td:nth-of-type(2) {
  padding-left: 1rem;
}
.main-dashboard .am-con-2 .pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  height: 10%;
}
.main-dashboard .am-con-2 .pagination-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0.5rem;
  color: #29292B;
}
.main-dashboard .am-con-2 .pagination-container a:first-of-type {
  margin-right: 6rem;
}
.main-dashboard .am-con-2 .pagination-container a:last-of-type {
  margin-left: 6rem;
}

.main-dashboard {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 90%;
  width: 92%;
  z-index: 10;
  background-color: #FFFFFF;
}
.main-dashboard .nm-form-con {
  display: flex;
  height: 100%;
  width: 100%;
}
.main-dashboard .nm-form-con .nm-container-1 {
  width: 80%;
  padding: 2rem 1rem 2rem 2rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con {
  height: 100%;
  width: 100%;
  padding: 5rem 4rem 2rem 4rem;
  border-radius: 1.5rem;
  background-color: #FFFFFF;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 1px 10px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 2rem 0px;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan {
  min-height: 0;
  /* NEW */
  min-width: 0;
  /* NEW; needed for Firefox */
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper {
  display: flex;
  flex-direction: column;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper span {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper input {
  font-size: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  outline: none;
  background-color: #EBEBEB;
  border-radius: 1rem;
  box-shadow: inset -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .select-box {
  position: relative;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .select-box select {
  position: relative;
  font-size: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  outline: none;
  background-color: #EBEBEB;
  border-radius: 1rem;
  /* Firefox */
  /* Safari and Chrome */
  appearance: none;
  width: 100%;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .select-box select option {
  position: absolute;
  outline: none;
  border: none;
  background-color: #E0DFDF;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .select-box::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 2;
  right: 0;
  transform: translateY(1rem) translateX(-1.5rem) rotate(-45deg);
  border-bottom: 2px solid #29292B;
  border-left: 2px solid #29292B;
  transition: ease-out 300ms;
  pointer-events: none;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .select-box:focus-within::before {
  border-top: 2px solid #29292B;
  border-right: 2px solid #29292B;
  border-bottom: none;
  border-left: none;
  transform: translateY(1.3rem) translateX(-1.5rem) rotate(-45deg);
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .box-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .box-wrap .radio-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .box-wrap .radio-btn-wrapper span {
  white-space: nowrap;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .box-wrap .radio-btn-wrapper input[type=radio] {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  aspect-ratio: 1/1;
  height: 2rem;
  width: 2rem;
  border-radius: 0.4rem;
  background-color: #EBEBEB;
  box-shadow: none;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 1rem;
  border: 1px solid #8C8686;
  background-color: #FFFFFF;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .box-wrap .radio-btn-wrapper input[type=radio]::after {
  content: url("../assets/icons/big-check.svg");
  position: absolute;
  top: 1.2rem;
  visibility: hidden;
  opacity: 0;
  transition: ease-out 250ms;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan .input-wrapper .box-wrap .radio-btn-wrapper input[type=radio]:checked:after {
  visibility: visible;
  opacity: 1;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:first-of-type h2 {
  font-size: 2.5rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:first-of-type .btn-wrapper button {
  border-radius: 1rem;
  padding: 0.8rem 4rem 0.8rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #D6A330;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:first-of-type .btn-wrapper button:first-of-type {
  margin-right: 1.5rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(2) {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.4fr);
  gap: 0px 2rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(3) {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1.4fr) minmax(0, 1fr) minmax(0, 1.4fr);
  gap: 0px 2rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(4) {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 0.6fr) minmax(0, 1.6fr) minmax(0, 1.3fr) minmax(0, 1.3fr);
  gap: 0px 2rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(5) {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
  gap: 0px 2rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(6) {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 0px 2rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(7) {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 0.8fr) minmax(0, 1.1fr) minmax(0, 1.1fr);
  gap: 0px 2rem;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(8) {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(8) .box-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(8) .box-wrap .checkbox-wrapper {
  display: flex;
  align-items: center;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(8) .box-wrap .checkbox-wrapper span {
  margin-left: 1rem;
  font-weight: 700;
  font-style: italic;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(8) .box-wrap .checkbox-wrapper input[type=checkbox] {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  aspect-ratio: 1/1;
  height: 2rem;
  width: 2rem;
  border-radius: 0.4rem;
  background-color: #EBEBEB;
  box-shadow: none;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 1rem;
  border: 1px solid #8C8686;
  background-color: #FFFFFF;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(8) .box-wrap .checkbox-wrapper input[type=checkbox]::after {
  content: url("../assets/icons/big-check.svg");
  position: absolute;
  top: 1.2rem;
  visibility: hidden;
  opacity: 0;
  transition: ease-out 250ms;
}
.main-dashboard .nm-form-con .nm-container-1 .big-con .rowspan:nth-of-type(8) .box-wrap .checkbox-wrapper input[type=checkbox]:checked:after {
  visibility: visible;
  opacity: 1;
}
.main-dashboard .nm-form-con .nm-container-2 {
  width: 20%;
  padding: 2rem 2rem 2rem 1rem;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-flow: column dense;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  gap: 2rem 0px;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap {
  padding: 3rem 4rem;
  padding: min(3rem, 5%) min(4rem, 10%);
  border-radius: 1.5rem;
  background-color: #FFFFFF;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:first-of-type .colspan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:first-of-type .colspan .input-wrapper {
  margin-bottom: min(2rem, 10%);
  display: grid;
  place-items: center;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:first-of-type .colspan .input-wrapper input[type=image] {
  width: clamp(4rem, 10vw, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:first-of-type .colspan button {
  display: flex;
  justify-content: center;
  width: clamp(2rem, 10vw, 100%);
  border-radius: 1rem;
  padding: 0.8rem 4rem 0.8rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #D6A330;
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 2rem;
  white-space: nowrap;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:last-of-type {
  display: flex;
  flex-direction: column;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:last-of-type .colspan:last-of-type {
  display: flex;
  flex-direction: column;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:last-of-type .colspan:last-of-type h3 {
  margin: min(2rem, 10%) 0;
  font-style: italic;
  font-size: 1.5rem;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:last-of-type .colspan:last-of-type h3 span {
  font-weight: 400;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:last-of-type .colspan:last-of-type .input-wrapper {
  display: flex;
  flex-direction: column;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:last-of-type .colspan:last-of-type .input-wrapper span {
  font-weight: 700;
  margin: min(2rem, 5%) 0;
  font-size: 1.2rem;
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:last-of-type .colspan:last-of-type .input-wrapper input {
  font-size: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  outline: none;
  background-color: #EBEBEB;
  border-radius: 1rem;
  box-shadow: inset -1px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.main-dashboard .nm-form-con .nm-container-2 .small-con .box-wrap:last-of-type .colspan:last-of-type .input-wrapper:last-of-type input {
  padding: 1rem 2rem min(2rem, 10%) 2rem;
}

.login-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(41, 41, 41, 0.7) url("../assets/img/login-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.login-container .login-wrapper {
  position: relative;
  z-index: 1;
  height: 50%;
  min-height: 25%;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.login-container .login-wrapper .container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container .login-wrapper .container .input-box {
  position: relative;
  width: 100%;
  margin-top: 2rem;
}
.login-container .login-wrapper .container .input-box input {
  width: 100%;
  padding: 2rem 0 1.5rem 1.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  color: #8C8686;
  background-color: #EBEBEB;
  font-size: 2rem;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login-container .login-wrapper .container .input-box span {
  position: absolute;
  left: 0%;
  padding: 1.5rem;
  pointer-events: none;
  font-size: 2rem;
  color: #8C8686;
}
.login-container .login-wrapper .container .input-box input:focus ~ span,
.login-container .login-wrapper .container .input-box input:valid ~ span {
  font-size: calc(2rem - 90%);
  transform: translateY(-0.7rem);
  color: #8C8686;
}
.login-container .login-wrapper .container .input-box:first-child {
  margin-top: 3rem;
}
.login-container .login-wrapper .container .wrapper {
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.login-container .login-wrapper .container .wrapper button {
  cursor: pointer;
}
.login-container .login-wrapper .container .wrapper .forgot-btn {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: #D6A330;
  background-color: transparent;
}
.login-container .login-wrapper .container .wrapper .login-btn {
  margin-top: 3rem;
  padding: 1.2rem 10rem 1.2rem 10rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #D6A330;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=app.css.map */