// * MIXINS that are used in this file are in ../res/scss/modules/abstracts/_mixins.scss
// * VARIABLES that are used in this file are in ../res/scss/modules/abstracts/_variables.scss
// 
// * New Application Modal
.na-modal {
    margin: auto;
    // height: clamp(min(90vh, 50rem), calc(100% - 20%), max(100vh, 55rem));
    width: calc(100% - 45%);
    z-index: 5;
    background-color: $white;
    border-radius: $border-radius-medium;
    &::backdrop {
        background-color: rgba($black, 0.7);
    }
    // * Modal Open Attribute
    &[open] {
        animation: fade-in 500ms forwards, pop-up 500ms;
    }
    &::backdrop[open] {
        animation: fade-in 500ms forwards;
    }
    // * Modal Custom Closing Attribute
    &[closing] {
        display: block;
        pointer-events: none;
        inset: 0;
        animation: fade-out 500ms forwards, slide-down 500ms forwards; 
    }
    &::backdrop[closing] {
        animation: fade-out 500ms forwards;
    }
    // * Hide Scroll Bars
    &::-webkit-scrollbar {
        display: none;
    }
    // * Hide Scroll Bars
    & {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    .modal-container {
        display: grid;
        grid-template-rows: repeat(2 minmax(0, 1fr)) minmax(0, 2fr);
        gap: 2rem 0;
        padding: 3rem 5rem;
        position: relative;
        // * Exit Button
        .exit-button {
            position: absolute;
            right: 0;
            cursor: pointer;
            background: none;
            img {
                transition: all 150ms ease-in-out;
            }
            img:hover {
                transform: scale(1.1);
                filter: opacity(.7);
            }
        }
        // * Choose Type Of Loan
        .rowspan:nth-of-type(1) {
            display: grid;
            gap: 2rem 0;
            h3 {
                font-size: $font-size-x-large;
            }
            .select-box {
                width: 30rem;
            }
        }
        // * Search Bar
        .rowspan:nth-of-type(2) {
            display: grid;
            gap: 2rem 0;
            h3 {
                font-size: $font-size-x-large;
            }
            .wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .search-wrap {
                    position: relative;
                    display: flex;
                    align-items: center;
                    // * Search input text-field
                    input {
                        @include inputField;
                        font-size: $font-size-medium;
                        position: relative;
                        padding-left: $spacing-2x-large;
                        padding-right: $spacing-5x-large;
                        width: clamp(10vw, 30rem, 100vw);
                        &::placeholder {
                            font-size: $font-size-medium;
                            position: absolute;
                            top: 0;
                            transform: translateY(1rem);
                        }
                        &::-webkit-search-cancel-button {
                            -webkit-appearance: none;
                        }
                    }
                    img {
                        position: absolute;
                        width: 6%;
                        filter: grayscale(100%);
                        opacity: 0.6;
                        transform: translateX(25.5rem);
                    }
                }
                button[data-link-to-newapp] {
                    visibility: hidden;
                    // transition: 300ms ease-in-out;
                    // animation: name duration timing-function delay iteration-count direction fill-mode;
                    // animation: pop-up 300ms 2s forwards;
                }
            }
        }
        // * Table
        .rowspan:nth-of-type(3) {
            // * Container 2: Table and Pagination
            .na-table-con {
                width: 100%;
                // height: clamp(min(90vh, 50rem), 10rem, max(100vh, 55rem));
                // * Table Container
                .table-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: clamp(min(40vh, 50rem), 10rem, max(100vh, 55rem));
                    padding-bottom: $spacing-2x-large;
                    border-radius: $border-radius-large;
                    box-shadow: $box-shadow;
                    table {
                        // **                         ** //
                        // **** Table Header Styles **** //
                        // **                         ** //
                        width: 95%;
                        tr {
                            border-bottom: 1px solid $black;
                            transition: 200ms ease-in-out;
                        }
                        th {
                            padding: 2rem 0;
                            text-align: center;
                            span.th-name {
                                font-size: $font-size-medium;
                                font-weight: $font-weight-bold;
                            }
                            .th-wrapper {
                                display: flex;
                                align-items: center;
                                img {
                                    cursor: pointer;
                                    padding-left: .5rem;
                                }
                            }
                        }
                        // * Table Checkbox
                        input[type="checkbox"] {
                            @include tableCheckboxInput;
                        }
                        input[type="checkbox"]::after {
                            content: url('../assets/icons/white-check.svg');
                            position: absolute;
                            top: .1rem;
                            display: none;
                        }
                        input[type="checkbox"]:checked {
                            background-color: $primary;
                        }
                        input[type="checkbox"]:checked:after {
                            display: block;
                        }
                        th {
                            text-align: left;
                        }
                        // * Table Checkbox
                        th:first-of-type {
                            padding-left: 2rem;
                        }
                        // * Member ID
                        th:last-of-type {
                            padding-right: 2rem;
                        }
                        // **                       ** //
                        // **** Table Data Styles **** //
                        // **                       ** //
                        td {
                            padding: $spacing-medium 0;
                            font-size: $font-size-medium;
                            // * Borrowers' Data Styles
                            .td-wrapper {
                                display: flex;
                                align-items: center;
                                .td-num {
                                    font-weight: $font-weight-bold;
                                    margin-left: 1rem;
                                }
                                .td-name {
                                    margin-left: 2rem;
                                }
                            }
                            // * Table Buttons Styles
                            .td-btn-wrapper {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                button {
                                    cursor: pointer;
                                }
                            }
                        }
                        // * Due Date Data
                        .td-due {
                            font-weight: $font-weight-bold;
                        }
                        td:first-of-type {
                            padding-left: 2rem;
                        }
                        td:last-of-type {
                            padding-right: 2rem;
                        }
                    }
                }
                // * Pagination Container
                .pagination-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 4rem;
                    height: calc(100% - 90%);
                    // * Pagination Links
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: $font-size-large;
                        font-weight: $font-weight-bold;
                        margin: 0 $spacing-small;
                        color: $black;
                    }
                    a:first-of-type {
                        margin-right: $spacing-6x-large;
                    }
                    a:last-of-type {
                        margin-left: $spacing-6x-large;
                    }
                }
            }
        }
    }
}

// * New Group Application Modal
.ng-modal {
    margin: auto;
    height: calc(100% - 25%);
    width: calc(100% - 45%);
    z-index: 5;
    background-color: $white;
    border-radius: $border-radius-medium;
    &::backdrop {
        background-color: rgba($black, 0.7);
    }
    // * Modal Open Attribute
    &[open] {
        animation: fade-in 500ms forwards, pop-up 500ms;
    }
    &::backdrop[open] {
        animation: fade-in 500ms forwards;
    }
    // * Modal Custom Closing Attribute
    &[closing] {
        display: block;
        pointer-events: none;
        inset: 0;
        animation: fade-out 500ms forwards, slide-down 500ms forwards;
    }
    &::backdrop[closing] {
        animation: fade-out 500ms forwards;
    }
    // * Hide Scroll Bars
    &::-webkit-scrollbar {
        display: none;
    }
    // * Hide Scroll Bars
    & {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    .modal-container {
        display: grid;
        grid-template-rows: minmax(0, 0.6fr) minmax(0, 2fr);
        gap: 2rem 0;
        padding: 3rem 5rem;
        position: relative;
        // * Exit Button
        .exit-button {
            position: absolute;
            right: 0;
            cursor: pointer;
            background: none;
            img {
                transition: all 150ms ease-in-out;
            }
            img:hover {
                transform: scale(1.1);
                filter: opacity(.7);
            }
        }
        // * Search Bar
        .rowspan:nth-of-type(1) {
            display: grid;
            gap: 2rem 0;
            h3 {
                font-size: $font-size-x-large;
            }
            .wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .search-wrap {
                    position: relative;
                    display: flex;
                    align-items: center;
                    // * Search input text-field
                    input {
                        @include inputField;
                        font-size: $font-size-medium;
                        position: relative;
                        padding-left: $spacing-2x-large;
                        padding-right: $spacing-5x-large;
                        width: clamp(10vw, 30rem, 100vw);
                        &::placeholder {
                            font-size: $font-size-medium;
                            position: absolute;
                            top: 0;
                            transform: translateY(1rem);
                        }
                        &::-webkit-search-cancel-button {
                            -webkit-appearance: none;
                        }
                    }
                    img {
                        position: absolute;
                        width: 6%;
                        filter: grayscale(100%);
                        opacity: 0.6;
                        transform: translateX(25.5rem);
                    }
                }
                button[data-link-to-newapp] {
                    visibility: hidden;
                    // transition: 300ms ease-in-out;
                    // animation: name duration timing-function delay iteration-count direction fill-mode;
                    // animation: pop-up 300ms 2s forwards;
                }
            }
        }
        // * Table
        .rowspan:nth-of-type(2) {
            // * Container 2: Table and Pagination
            .na-table-con {
                width: 100%;
                height: clamp(10vh, 70rem, 45vh);
                // * Table Container
                .table-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    border-radius: $border-radius-large;
                    box-shadow: $box-shadow;
                    padding-bottom: $spacing-2x-large;

                    table {
                        // **                         ** //
                        // **** Table Header Styles **** //
                        // **                         ** //
                        width: 95%;
                        tr {
                            border-bottom: 1px solid $black;
                            transition: 200ms ease-in-out;
                        }
                        th {
                            text-align: center;
                            padding: $spacing-large $spacing-2x-large;
                            font-size: $font-size-large;
                        }

                        // * Table Checkbox
                        th:first-of-type {
                            text-align: left;
                        }
                        // * Member ID
                        th:last-of-type {
                            text-align: center;
                        }
                        // **                       ** //
                        // **** Table Data Styles **** //
                        // **                       ** //
                        td {
                            padding: $spacing-2x-large $spacing-large ;
                            font-size: $font-size-medium;
                        }
                        td:first-of-type {
                            text-align: left;
                        }
                        td:last-of-type {
                            text-align: center;
                        }
                    }
                }
                // * Pagination Container
                .pagination-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 4rem;
                    height: calc(100% - 90%);
                    // * Pagination Links
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: $font-size-large;
                        font-weight: $font-weight-bold;
                        margin: 0 $spacing-small;
                        color: $black;
                    }
                    a:first-of-type {
                        margin-right: $spacing-6x-large;
                    }
                    a:last-of-type {
                        margin-left: $spacing-6x-large;
                    }
                }
            }
        }
    }
}

// * New Application Loan Details Modal
.na-loan-details-modal {
    margin: auto;
    // height: 100%;
    width: calc(100% - 10%);
    z-index: 5;
    background: none;
    &::-webkit-scrollbar {
        padding-left: 1rem;
        width: 1rem;
    }
    &::backdrop {
        background-color: rgba($black, 0.7);
    }
    // * Modal Open Attribute
    &[open] {
        animation: fade-in 500ms forwards, pop-up 500ms;
    }
    &::backdrop[open] {
        animation: fade-in 500ms forwards;
    }
    // * Modal Custom Closing Attribute
    &[closing] {
        display: block;
        pointer-events: none;
        inset: 0;
        animation: fade-out 500ms forwards, slide-down 500ms forwards;
    }
    &::backdrop[closing] {
        animation: fade-out 500ms forwards;
    }

    .modal-container {
        border-radius: $border-radius-large;
        background-color: $white;
        padding: 1rem;
        .button-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 1.2rem;
            button {
                cursor: pointer;
                background: none;
                img {
                    transition: all 150ms ease-in-out;
                }
                img:hover {
                    transform: scale(1.1);
                    filter: opacity(.7);
                }
            }
        }
        // * Container 11: Loan History Table 
        // * Container 7: Payment History Table
        .na-container-7 {
            height: 40rem;
            width: 100%;
            padding: 2rem;
            .small-con-4 {
                height: 100%;
                width: 100%;
                @include naSmallContainerGrid4;
                grid-template-rows: minmax(0, 0.12fr) minmax(0, 1fr);
                @include containerDefault2;
                padding: 3rem 4rem 3rem 4rem;

                .rowspan {
                    min-height: 0;
                    /* NEW */
                    min-width: 0;
                    /* NEW; needed for Firefox */
                }
                // * Rowspan Header
                .rowspan:first-of-type {
                    position: sticky;
                    top: 0;
                    background-color: $white;
                    isolation: isolate;
                    &::after {
                        content: ' ';
                        position: absolute;
                        left: 0;
                        inset: 0;
                        transform: scaleY(3);
                        background-color: $white;
                        z-index: -1;
                    }
                    h2 {
                        
                        font-size: $font-size-x-large;
                        font-weight: $font-weight-bold;
                        padding-left: 1rem;

                    }
                }
                // * Rowspan 2: Payment History Table 
                .rowspan:nth-of-type(2) {
                    table {
                        tr {
                            text-align: left;
                        }
                        tr:first-of-type {
                            border-bottom: 1px solid $secondary-bg;
                        }
                        th,
                        td {
                            font-weight: $font-weight;
                            font-size: $font-size-x-medium;
                            padding: 2rem 1rem;
                        }
                    }
                }
            }
        }
        // * Container 8: Loan History Table
        .na-container-8 {
            height: 40rem;
            width: 100%;
            padding: 2rem;
            .small-con-5 {
                height: 100%;
                width: 100%;
                @include naSmallContainerGrid4;
                grid-template-rows: minmax(0, 0.12fr) minmax(0, 1fr);
                @include containerDefault2;
                padding: 3rem 4rem 3rem 4rem;
                .rowspan {
                    min-height: 0;
                    /* NEW */
                    min-width: 0;
                    /* NEW; needed for Firefox */
                }
                // * Rowspan Header
                .rowspan:first-of-type {
                    position: sticky;
                    top: 0;
                    background-color: $white;
                    isolation: isolate;
                    &::after {
                        content: ' ';
                        position: absolute;
                        left: 0;
                        inset: 0;
                        transform: scaleY(3);
                        background-color: $white;
                        z-index: -1;
                    }
                    h2 {
                        font-size: $font-size-x-large;
                        font-weight: $font-weight-bold;
                        padding-left: 1rem;
                    }
                }
                // * Rowspan 2: Payment History Table 
                .rowspan:nth-of-type(2) {
                    table {
                        tr {
                            text-align: left;
                        }
                        tr {
                            border-bottom: 1px solid $secondary-bg;
                        }
                        tr:first-of-type {
                            border-bottom: 1px solid $secondary-bg;
                        }
                        th,
                        td {
                            font-weight: $font-weight;
                            font-size: $font-size-x-medium;
                            padding: 2rem 1rem;
                        }
                    }
                }
            }
        }
    }
}

// * All Members Modal
.am-filter-modal {
    margin: auto;
    width: clamp(min(90vw, 50rem), calc(100% - 70%), max(100vw, 55rem));
    z-index: 10;
    background-color: $white;
    border-radius: $border-radius-medium;
    overflow-x: hidden;

    &::backdrop {
        background-color: rgba($black, 0.7);
    }
    // * Modal Open Attribute
    &[open] {
        animation: fade-in 500ms forwards, slide-from-left-to-right 500ms;
    }
    &::backdrop[open] {
        animation: fade-in 500ms forwards;
    }
    // * Modal Custom Closing Attribute
    &[closing] {
        display: block;
        pointer-events: none;
        inset: 0;
        animation: fade-out 500ms forwards, slide-from-center-to-left 500ms forwards;
    }
    &::backdrop[closing] {
        animation: fade-out 500ms forwards;
    }
    // * Hide Scroll Bars
    &::-webkit-scrollbar {
        display: none;
    }
    // * Hide Scroll Bars
    & {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    // * Member List & Borrower Filter
    .modal-container {
        display: grid;
        grid-template-rows: minmax(0, 0.6fr) repeat(2, minmax(0, 1fr)) minmax(0, 0.6fr) ;
        gap: $spacing-large 0;
        padding: 1.5rem 2rem 2rem;

        // * Modal Header and Exit Button 
        .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding-bottom: 2rem;
            &::after {
                content: '';
                position: absolute;
                height: .2rem;
                width: 100%;
                background-color: $primary;
                top: 100%;
                left: 0;
                transform: scaleX(50);
            }
            h4 {
                font-size: $font-size-large;
            }
            // * Exit Button
            button {
                padding: 0;
            }
            .exit-button {
                padding: 0;
                cursor: pointer;
                background: none;
                img {
                    transition: all 150ms ease-in-out;
                }
                img:hover {
                    transform: scale(1.1);
                    filter: opacity(.7);
                }
            }
        }

        // * Current Loan
        .rowspan:nth-of-type(2) {
            padding-top: 2rem;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0 $spacing-2x-large;
            align-items: flex-end;
        }

        // * Outstanding Balance
        .rowspan:nth-of-type(3) {
            display: grid;
            align-items: flex-end;

        }

        // * Save Button
        .rowspan:nth-of-type(4) {
            display: grid;
            place-self: flex-end;
        }
    }
    // * Member List (Group) Filter
    .modal-container-2 {
        display: grid;
        grid-template-rows: minmax(0, 1fr) repeat(3, minmax(0, 1.4fr)) minmax(0, 1fr) ;
        gap: $spacing-large 0;
        padding: 1.5rem 2rem 2rem;
    
        // * Modal Header and Exit Button 
        .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding-bottom: 2rem;
            &::after {
                content: '';
                position: absolute;
                height: .2rem;
                width: 100%;
                background-color: $primary;
                top: 100%;
                left: 0;
                transform: scaleX(50);
            }
            h4 {
                font-size: $font-size-large;
            }
            // * Exit Button
            button {
                padding: 0;
            }
            .exit-button {
                padding: 0;
                cursor: pointer;
                background: none;
                img {
                    transition: all 150ms ease-in-out;
                }
                img:hover {
                    transform: scale(1.1);
                    filter: opacity(.7);
                }
            }
        }
    
        // * Current Loan
        .rowspan:nth-of-type(2) {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0 $spacing-2x-large;
            align-items: flex-end;
        }
    
        // * Outstanding Balance
        .rowspan:nth-of-type(3) {
            display: grid;
            align-items: flex-end;
    
        }
    
        // *No. Of Members
        .rowspan:nth-of-type(4) {
            display: grid;
            align-items: flex-end;
    
        }
    
        // * Save Button
        .rowspan:nth-of-type(5) {
            display: grid;
            place-self: flex-end;
        }
    }
    // * Application List Filter
    .modal-container-3 {
            display: grid;
            grid-template-rows: minmax(0, 0.6fr) repeat(2, minmax(0, 1fr)) minmax(0, 0.6fr) ;
            gap: $spacing-large 0;
            padding: 1.5rem 2rem 2rem;
    
            // * Modal Header and Exit Button 
            .modal-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding-bottom: 2rem;
                &::after {
                    content: '';
                    position: absolute;
                    height: .2rem;
                    width: 100%;
                    background-color: $primary;
                    top: 100%;
                    left: 0;
                    transform: scaleX(50);
                }
                h4 {
                    font-size: $font-size-large;
                }
                // * Exit Button
                button {
                    padding: 0;
                }
                .exit-button {
                    padding: 0;
                    cursor: pointer;
                    background: none;
                    img {
                        transition: all 150ms ease-in-out;
                    }
                    img:hover {
                        transform: scale(1.1);
                        filter: opacity(.7);
                    }
                }
            }
    
            // * Shoose Type Loan
            .rowspan:nth-of-type(2) {
                display: grid;
                align-items: flex-end;
                h3 {
                    font-size: $font-size-medium;
                }
            }
    
            // * Applied Loan Amount
            .rowspan:nth-of-type(3) {
                padding-top: 2rem;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 0 $spacing-2x-large;
                align-items: flex-end;
            }
    
            // * Save Button
            .rowspan:nth-of-type(4) {
                display: grid;
                place-self: flex-end;
            }
    }
}



// ***** Filter Modals ***** //
