// * Style for main nav container
.nav {
    position: fixed;
    z-index: 9;
    width: calc(100% - 92%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0 4.5rem 0;
    background-color: $black;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    img {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    // * Styles for the navlinks inside the containers
    .nav-links {
        width: 100%;
        position: relative;
        margin-top: $spacing-5x-large;
        // * navlink    
        .link {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $spacing-medium;
            p {
                font-size: $font-size;
                font-weight: $font-weight-bold;
                margin-top: 1rem;
                color: $white;
            }
        }
        // * Navlink
        li {
            transition: background-color ease-out 200ms;
            &:hover,
            &:focus {
                background: rgba(0, 0, 0, 0.125);
                background-blend-mode: darken;
                background: $primaryGrad1;
            }
        }
        // * Display carret right to all the links
        .link.dropdown::after {
            content: url(../assets/icons/carret-right.svg);
            position: absolute;
            display: inline-block;
            right: 0;
            transform: translateX(-1.5rem) translateY(1rem)
        }
    }
    // * Styles for nav-container-1
    .nav-con-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav-links {
            // * Submenu will have relative position to the dropdown container
            .dropdown {
                position: relative;
            }
            .dropdown.showMenu {
                transition: 500ms ease-in-out;
                // background-color: rebeccapurple;
                background: $primaryGrad1;
            }
            // * When a link IS clicked
            .dropdown.showMenu>.link.dropdown+.sub-menu {
                visibility: visible;
                pointer-events: auto;
                opacity: 1;
                transition: opacity ease-out 250ms;
            }
            .sub-menu {
                // * When a link IS NOT clicked 
                // * Styles for submenu
                @include submenu;
                left: 100%;
                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: $spacing-2x-large $spacing-4x-large $spacing-2x-large $spacing-2x-large;
                    img {
                        position: absolute;
                    }
                    span {
                        font-size: $font-size;
                        font-weight: $font-weight-bold;
                        white-space: nowrap;
                        color: $white;
                        padding-left: $spacing-6x-large;
                    }
                }
                li:hover {
                    cursor: pointer;
                    // background: $primaryGrad1;
                    background: rgba(0, 0, 0, 0.125);
                    background-blend-mode: darken;
                }
            }
        }
    }
    // * Styles for nav-container-2
    .nav-con-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// * Profile Nav
.profile-nav {
    position: fixed;
    width: calc(100% - 8%);
    height: calc(100% - 90%);
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5rem 0 4.5rem;
    background-color: $black;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    .profile-nav-con {
        display: flex;
        align-items: center;
        img:first-child {
            padding-right: 2rem;
        }
    }
}

// // * CSS styles specific to small laptops
// @include breakpointMin(768px) {
//     .nav {
//         // background-color: rebeccapurple;
//         padding: 1.6rem 0;
//         img {
//             scale: .8;
//         }
//         .nav-links {
//             margin-top: 1.6rem;
//             img[data-dropdown-button],
//             img[no-data-dropdown] {
//                 scale: .7;
//             }
//             .link {
//                 padding: .8rem;
//             }
//             .link p {
//                 margin-top: .6rem;
//                 font-size: $font-size-small;
//             }
//         }
//         .nav-con-2 {
//             .nav-links {
//                 margin-top: 3rem;
//             }
//         }
//     }
//     .profile-nav {
//         img {
//             scale: .8;
//         }
//     }
// }

@include lgBreakpoint {
    .nav {
        padding: 1.6rem 0;
        img {
            scale: .8;
        }
        .nav-links {
            margin-top: 1.6rem;
            img[data-dropdown-button],
            img[no-data-dropdown] {
                scale: .7;
            }
            .link {
                padding: .8rem;
            }
            .link p {
                margin-top: .6rem;
                font-size: $font-size-small;
            }
        }
        .nav-con-2 {
            .nav-links {
                margin-top: 3rem;
            }
        }
    }
    .profile-nav {
        img {
            scale: .8;
        }
    }
}

@include mdBreakpoint {
    .nav {
        padding: 1.6rem 0;
        img {
            scale: .8;
        }
        .nav-links {
            margin-top: 1.6rem;
            img[data-dropdown-button],
            img[no-data-dropdown] {
                scale: .7;
            }
            .link {
                padding: .8rem;
            }
            .link p {
                margin-top: .6rem;
                font-size: $font-size-small;
            }
        }
        .nav-con-2 {
            .nav-links {
                margin-top: 3rem;
            }
        }
    }
    .profile-nav {
        img {
            scale: .8;
        }
    }
}

@include smBreakpoint {
    .nav {
        padding: 1.6rem 0;
        img {
            scale: .8;
        }
        .nav-links {
            margin-top: 1.6rem;
            img[data-dropdown-button],
            img[no-data-dropdown] {
                scale: .7;
            }
            .link {
                padding: .8rem;
            }
            .link p {
                margin-top: .6rem;
                font-size: $font-size-small;
            }
        }
        .nav-con-2 {
            .nav-links {
                margin-top: 3rem;
            }
        }
    }
    .profile-nav {
        img {
            scale: .8;
        }
    }
}