body {
    &.print {
        // background: $black2;
    }
    
    // * Voucher
    &.print-portrait {
        .page {
            width: 297mm;
            min-height: 297mm; 
            // padding: unset !important;
        }
    }

    // * Passbook
    &.print-portrait-passbook {
        // height: unset !important;
        .page {
            // *** Same Width
            // width: 102mm;
            // width: 4.125in;

            // *** Old Height 
            // height: 285mm;
            // height: 11.22in;
            
            // *** New Height 4x10inches 
            // height: 254mm; 
            // height: 10in;

            padding: unset !important;
        }
        .page.page-1.passbook,
        .page.page-2.passbook {
            display: none;
        }
        .page.page-1.passbook.show,
        .page.page-2.passbook.show  {
            display: unset;
        }
    }

    // * Collection 
    &.print-portrait-stub {
        .page {
            width: 297mm;
            min-height: 209mm; 
            // padding: unset !important;
        }
    }
}

// * Page Panel
.page-panel {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 9;
    margin: auto;
    width: 35%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-2rem);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    border-radius: $border-radius-xxx-large;
    background: $blackTR3;
    transition: 250ms ease-in-out;
    &.show-page-panel {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
        transition: 250ms ease-in-out;
    }
    .panel-inner-wrapper {
        padding-left: 1rem;
        [data-current-page-num] {
            width: 4rem;
            border: none;
            outline: none;
            background-color: $fullblackTR;
            color: $white;
            font-size: calc($font-size-x-medium - 2px);
            text-align: center;

        }
        p, span {
            color: $white;
            font-size: $font-size-x-medium;
            grid-area: 1/1;
        }
        span:first-of-type {
            padding-left: 0.5rem;
        }
        span:last-of-type {
            padding-left: 1rem;
        }
    }
    button {
        grid-area: 1/3;
        // *** Applications Module: Sign For Releasing (Printables)
        // *** Receipt Voucher
        &.button-opt {
            grid-area: 1/2;
        }
        &.button-opt.done,
        &.button-opt.back {
            display: unset;
        }
        &.button-opt.done.hidden,
        &.button-opt.back.hidden  {
            display: none;
        }
    }

}

// *********************************** //
// *********************************** //
// ****** Start COLLECTION STUB ****** //
// *********************************** //
// *********************************** //
// * Print Collection Container
.printables-container {
    background: $blackTR3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    // * A4 (Landscape)
    .page {
        background-color: $white;
        // width: 297mm;
        // min-height: 209mm;
        padding: 0 1rem;
        .header-wrapper {
            padding-top: 1rem;
            display: flex;
            justify-content: space-between;
            p, span {
                font-size: $font-size;
            }
        }
        .body-wrapper {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            .box-wrapper {
                display: flex;
                // justify-content: space-between;
                .box {
                    display: flex;
                    flex-direction: column;
                    width: 27.4rem;
                    height: 100%;
                    padding: 3.1rem 1.2rem;
                    outline: 1px dashed $black;
                    gap: 1.8rem;
                    p, span {
                        font-size: $font-size-small;
                        font-weight: $font-weight-bold;
                    }
                }
            }
            // * Table
            .table-container {
                table {
                    tr:first-of-type {
                        background: none;
                        filter: blur(0);
                        box-shadow: none;
                        border-bottom: 1px solid $secondary-bg;
                    }
                    tr:not(:first-of-type) {
                        border-bottom: 1px dashed $black;
                    }
                    tr:hover {
                        background-color: unset;
                        color: unset;
                        cursor: unset;
                    }
                    tr {
                        padding: 1rem 0;
                    }
                    th {
                        padding: 1rem 0;
                        text-align: left;
                    }
                    th:first-of-type {
                        padding-left: 1rem;
                    }
                    th:last-of-type {
                        padding-right: 0;
                    }
                    td:first-of-type {
                        padding-top: 1.4rem;
                    }
                    td:last-of-type {
                        padding-right: 0;
                    }
                    td {
                        vertical-align: top;
                        padding: 1.35rem 0;
                        text-align: left;
                        .td-wrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: .2rem;
                            p:first-of-type {
                                font-size: $font-size-small;
                            }
                            span {
                                font-size: $font-size-x-small;
                            }
                        }
                    }
                    .td-name {
                        margin: 0;
                    }
                }
            }
        }
        .footer-wrapper {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            justify-items: center;
            align-items: center;
            .footer-inner-wrapper {
                position: absolute;
                bottom: 0;
                transform: translateY(-2rem);
                p, span {
                    font-size: $font-size-x-medium;
                    grid-area: 1/2;
                }
            }
            button {
                width: unset;
                grid-area: 1/3;
                justify-self: flex-end;
            }
        }
    }
    // * Long Bond Paper (Portrait)
    // .page.page-portrait {
    //     position: relative;
    //     background-color: $white;
    //     width: 215.9mm;
    //     min-height: 330.2mm;
    //     padding: 0 1rem;
    //     .header-wrapper {
    //         padding-top: 1rem;
    //         display: flex;
    //         justify-content: space-between;
    //         p, span {
    //             font-size: $font-size;
    //         }
    //     }
    //     .body-wrapper {
    //         margin-top: 2rem;
    //         display: flex;
    //         flex-direction: column;
    //         .box-wrapper {
    //             display: flex;
    //             justify-content: space-between;
    //             .box {
    //                 display: flex;
    //                 flex-direction: column;
    //                 width: 100%;
    //                 height: 100%;
    //                 padding: 3.1rem 1.2rem;
    //                 outline: 1px dashed $black;
    //                 gap: 1.8rem;
    //                 p, span {
    //                     font-size: $font-size-small;
    //                     font-weight: $font-weight-bold;
    //                 }
    //             }
    //         }
    //         // * Table
    //         .table-container {
    //             table {
    //                 tr:first-of-type {
    //                     background: none;
    //                     filter: blur(0);
    //                     box-shadow: none;
    //                     border-bottom: 1px solid $secondary-bg;
    //                 }
    //                 tr:not(:first-of-type) {
    //                     border-bottom: 1px dashed $black;
    //                 }
    //                 tr:hover {
    //                     background-color: unset;
    //                     color: unset;
    //                     cursor: unset;
    //                 }
    //                 tr {
    //                     padding: 1rem 0;
    //                 }
    //                 th {
    //                     padding: 1rem 0;
    //                     text-align: left;
    //                 }
    //                 th:first-of-type {
    //                     padding-left: 1rem;
    //                 }
    //                 th:last-of-type {
    //                     padding-right: 0;
    //                 }
    //                 td:first-of-type {
    //                     padding-top: 1.4rem;
    //                 }
    //                 td:last-of-type {
    //                     padding-right: 0;
    //                 }
    //                 td {
    //                     vertical-align: top;
    //                     padding: 1.35rem 0;
    //                     text-align: left;
    //                     .td-wrapper {
    //                         display: flex;
    //                         flex-direction: column;
    //                         align-items: flex-start;
    //                         gap: .2rem;
    //                         p:first-of-type {
    //                             font-size: $font-size-small;
    //                         }
    //                         span {
    //                             font-size: $font-size-x-small;
    //                         }
    //                     }
    //                 }
    //                 .td-name {
    //                     margin: 0;
    //                 }
    //             }
    //         }
    //     }
    // }
    // * Long Bond Paper (Portrait)
    // .page.page-portrait {
    //     position: relative;
    //     background-color: $white;
    //     width: 215.9mm;
    //     min-height: 330.2mm;
    //     padding: 0 1rem;
    // }
}
// *********************************** //
// *********************************** //
// ****** End COLLECTION STUB ****** //
// *********************************** //
// *********************************** //

@page {
    // size: A4 landscape;  
    margin: 0;
    padding: 0;
    height: initial;
    width: initial;
    // height: 285mm;

}

@media print {
    html, body {
        box-sizing: border-box;
        // height: 285mm;

        // width: 210mm;
        // min-height: 297mm;
        // background: none !important;
        // box-shadow: unset !important;
    }
    // body.print-landscape {
    //     box-sizing: border-box !important;
    //     width: 297mm !important;
    //     height: 210mm !important; 
    // }
    // body.print-portrait {
    //     box-sizing: border-box !important;
    //     width: 94.8mm !important;
    //     height: 297mm !important; 
    // }
    .page-panel {
        display: none;
    }
    .printables-container {
        display: unset;
        gap: 0;
        padding: 0;
    }
    .page {
        margin: 0;
        padding: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        height: initial;
        min-height: initial;
        background: initial;
        outline: initial;
    }
}

// body.print-landscape {
//     @page {
//         size: A4 landscape;  
//         margin: 0;
//         padding: 0;
//     }
// }

// * Print Collection Summary
.summary-print-modal-container {
    // border-radius: $border-radius-medium;
    background-color: $white;
    position: relative;
    width: 297mm;
    min-height: 210mm; 
    // height: 100%;
    // background-color: aqua;
    // * Exit Button Wrapper
    .button-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 1.25rem;
        right: 1.5rem;
        z-index: 9;
        button {
            cursor: pointer;
            background: none;
            img {
                transition: all 150ms ease-in-out;
            }
            img:hover {
                transform: scale(1.1);
                filter: opacity(.7);
            }
        }
    }
    .small-con {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        // gap: $spacing-2x-large;
        .rowspan:first-of-type {
            display: flex;
            gap: $spacing-2x-large;
            padding-bottom: $spacing-2x-large;
        }
        .rowspan:last-of-type {
            padding-top: $spacing-2x-large;
        }
        .rowspan:first-of-type {
            h2 {
                font-size: $font-size-x-large;
            }
        }
        .rowspan:nth-of-type(2) {
            display: flex;
            align-items: center;
            justify-content: center;
            // height: clamp(1rem, 10vw, 2rem);
            // max-height: 50rem;
            &.table {
                th, td {
                    padding: 0;
                    text-align: left;
                    font-size: $font-size-x-medium;
                    padding: 3rem 2rem;
                }
                th {
                    font-weight: $font-weight-bold;
                }
                th:nth-of-type(n+2) {
                    text-align: right;
                }
                td:nth-of-type(n+2) {
                    text-align: right;
                }
            }
        }
        .rowspan:last-of-type {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            &::after {
                content: '';
                width: 100%;
                height: 4px;
                position: absolute;
                top: 0;
                background-color: $black;
                border-radius: $border-radius-xxx-large;
            }
            p {
                font-size: $font-size-x-medium;
                font-weight: $font-weight-bold;
            }
            p:first-of-type {
                padding-left: 1rem;
            }
            p:last-of-type {
                font-size: calc($font-size-x-large - .1rem);
                padding-right: 1rem;
            }
        }
    }
}

// * Receipt Voucher
.receipt-voucher-container {
    .header-wrapper {
        padding-top: $spacing-2x-large;
        display: flex;
        flex-direction: column;
        align-items: center;
        .box {
            display: flex;
            align-items: center;
            padding-top: $spacing-small;
            gap: 0 2rem;
        }
        p {
            font-size: $font-size-medium !important;
            font-weight: $font-weight-bold;
        }
    }
    .body-wrapper {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        .box-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .box {
                display: flex;
                flex-direction: row !important;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                padding: 1.1rem 1.2rem !important;
                gap: 1.8rem;
                outline: unset !important; 
                .p-bold {
                    font-weight: $font-weight-bold !important;
                }
                .p-red-text {
                    color: $alert;
                }
                .underline {
                    border-bottom: 1px solid $black;
                }
                .underline-thick {
                    border-bottom: 2px solid $black !important;
                }
                .line-sig {
                    border-top: 2px solid $black;
                }
                p {
                    font-size: $font-size !important;
                    font-weight: $font-weight !important;
                }
                span {
                    font-size: $font-size !important;
                    font-weight: $font-weight-bold !important;
                    margin-left: 2rem;
                }
                .box-inner {
                    display: flex;
                    flex-direction: column;
                    .box-inner-wrapper {
                        display: flex;
                        justify-content: space-between;
                        padding: 0.2rem 0;
                        gap: $spacing-4x-large;
                    }
                }
                &:nth-of-type(1) {
                    p:nth-of-type(1) {
                        span {
                            margin-left: 4rem;
                        }
                    }
                }
                // * Box-2
                &:nth-of-type(2) {
                    .box-inner:nth-of-type(1) {
                        margin-left: 8rem;
                    }
                    .box-inner:nth-of-type(2) {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        p {
                            padding: 0.2rem 0;
                        }
                    }
                }
                // * Box-4
                &:nth-of-type(3) {
                    .box-inner:nth-of-type(2) {
                        .box-inner-wrapper:nth-of-type(2) {
                            background-color: $primaryTR4;
                            //  rgba(186, 85, 211, 0.445);
                        }
                    }
                }
                // * Box-4
                &:nth-of-type(4) {
                    margin-top: $spacing-5x-large;
                    justify-content: space-around;
                    gap: calc($spacing-10x-large + 5rem) ;
                    .box-inner {
                        width: 100%;
                        text-align: center;
                        p:nth-of-type(2) {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

.passbook-container {
    display: flex;
    gap: 0 $spacing-3x-large;
    .passbook {
        // ** The size to fit for Envelope #10
        width: 6.2in;
        border: 2px solid $black;
        // *** Base Styles
        .p-regular {
            font-weight: $font-weight !important;
        }
        .p-bold {
            font-weight: $font-weight-bold !important;
        }
        .p-red-text {
            color: $alert;
        }
        .underline {
            border-bottom: 1px solid $black;
        }
        .underline-thick {
            border-bottom: 2px solid $black !important;
        }
        .line-sig {
            border-top: 2px solid $black;
        }
        // *** Base Styles END ***
        .header-wrapper {
            height: 6rem;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            padding-top: unset !important;
            // padding: $spacing-medium;
            border-bottom: 2px solid $black;
            .box {
                height: 100%;
                display: flex;
                align-items: center;
                // padding-right: $spacing;
                gap: 0 $spacing-2x-large;
                img {
                    scale: 0.7;
                }
                .box-inner {
                    p {
                        padding: .2rem 0;
                        font-size: calc($font-size-medium / 1.4)  !important;
                        font-weight: $font-weight-bold;
                        &:nth-of-type(2) {
                            font-size: calc($font-size-medium / 1.5)  !important;
                            font-weight: $font-weight;
                        }
                    }
                    &.p-back {
                        p:nth-of-type(2) {
                            font-size: calc($font-size / 1.5)  !important;
                            font-weight: $font-weight;
                        }
                        span {
                            font-size: calc($font-size / 1.5)  !important;
                            font-weight: $font-weight;
                            font-style: italic;
                        }
                    }
                }
            }
            
        }
        .body-wrapper {
            margin-top: unset !important;
            display: flex;
            flex-direction: column;
            .box-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .box {
                    // display: flex;
                    // flex-direction: row !important;
                    // justify-content: space-between;
                    width: 100%;
                    height: 100%;
                    padding: 1.43rem 1rem !important;
                    gap: calc(1.8rem / 3) !important;
                    outline: unset !important; 
                    p {
                        font-size:calc($font-size / 1.2)  !important;
                        // font-weight: $font-weight !important;
                    }
                    span {
                        font-size:calc($font-size / 1.2)  !important;
                        font-weight: $font-weight-bold !important;
                        margin-left: 2rem;
                    }
                    .box-inner {
                        display: flex;
                        flex-direction: column;
                        .box-inner-wrapper {
                            display: flex;
                            justify-content: space-between;
                            padding: 0.5rem 0;
                            // gap: $spacing-4x-large;
                        }
                    }
                    // * Box-1
                    &:nth-of-type(1) {
                        display: flex;
                        flex-direction: column;
                        outline: 2px solid $black !important;
                        .fill-wrap {
                            display: flex;
                            gap: $spacing-medium;
                            overflow: hidden;
                            .p-fill {
                                white-space: nowrap;
                            }
                            // .fill-line {
                            //     position: relative;
                            //         &:before {
                            //             content: '';
                            //             position: absolute;
                            //             display: inline-block;
                            //             height: 0.2rem;
                            //             width: 50rem;
                            //             bottom: 0;
                            //             left: 1rem;
                            //             background-color: $black;
                            //         }
                            // }
                        }
                        .box-inner {
                            .box-inner-wrapper:nth-of-type(1) {
                                display: flex;
                                align-items: center;
                                margin: 0.2rem 0;
                                .p-bold.p-red-text {
                                    margin-left: unset !important;
                                    margin-right: 1.6rem;
                                    font-size: calc($font-size / 1.4) !important;
                                    font-style: italic;
                                }
                            }
                            .box-inner-wrapper:nth-of-type(2) {
                                display: flex;
                                justify-content: unset !important;
                                .wrapper {
                                    width: 50%;
                                    .fill-wrap {
                                        padding: 0.2rem 0;
                                    }
                                    &:nth-of-type(1) {
                                        padding-right: 1rem;
                                    }
                                }
                            }
                        }
                    }
                    // * Box-2 (Table)
                    &:nth-of-type(2) {
                        padding: unset !important;
                        table {
                            // background: aqua    ;
                            tr {
                                &:first-of-type {
                                    position: unset !important;
                                    isolation: unset;
                                    background: none !important;
                                    th {
                                        position: unset !important;
                                        isolation: unset;
                                    }
                                }
                                th, td {
                                    border: 2px solid $black;
                                    text-align: center;
                                    padding: 0.4rem 0.5rem;
                                }
                                th:first-of-type, 
                                td:first-of-type {
                                    border-left: none;
                                }
                                // * Date
                                th:nth-of-type(2){
                                    padding: 0.3rem 1.6rem;
                                }
                                // * Amount Paid
                                th:nth-of-type(3) {
                                    white-space: nowrap;
                                    padding: 0.3rem 1.4rem;
                                }
                                // * Field Officer Sign
                                th:nth-of-type(6) {
                                    // white-space: nowrap;
                                    padding: 0.3rem 0.4rem;
                                }
                                th:last-of-type, 
                                td:last-of-type {
                                    border-right: none;
                                }
                                td {
                                    text-align: right;
                                    padding-right: 0.4rem;
                                }
                                td:first-of-type {
                                    font-weight: $font-weight-bold;
                                }
                            }
                        }
                        // .box-inner:nth-of-type(1) {
                        //     padding: unset !important;
                        // }
                        // .box-inner:nth-of-type(1) {
                        //     display: flex;
                        //     flex-direction: row;
                        //     .box-inner-wrapper {
                        //         display: flex;
                        //         flex-direction: column;
                        //         width: 100%;
                        //         .box-header {
                        //             display: flex;
                        //             align-items: center;
                        //             justify-content: center;
                        //             height: 100%;
                        //             padding: .4rem 0;
                        //             text-align: center;
                        //             outline: 0.1rem solid $black;
                        //             p {
                        //                 font-weight: $font-weight-bold !important;
                        //             }
                        //         }
                        //         .box-cells-wrapper {
                        //             display: flex;
                        //             flex-direction: column;
                        //             .box-cell {
                        //                 padding: 0.3rem 0.4rem 0.3rem 0;
                        //                 text-align: right;
                        //                 outline: 0.1rem solid $black;
                        //                 .hidden {
                        //                     visibility: hidden !important;
                        //                 }
                        //                 .box-cell.num {
                        //                     // span {
                        //                     //     visibility: visible !important;
                        //                     // }
                        //                 }
                        //             }
                        //         }
                        //     }
                        // }
                    }
                    // * Box-4
                    &:nth-of-type(3) {
                        .box-inner:nth-of-type(2) {
                            .box-inner-wrapper:nth-of-type(2) {
                                background-color: $primaryTR4;
                                //  rgba(186, 85, 211, 0.445);
                            }
                        }
                    }
                    // * Box-4
                    &:nth-of-type(4) {
                        margin-top: $spacing-5x-large;
                        justify-content: space-around;
                        gap: calc($spacing-10x-large + 5rem) ;
                        .box-inner {
                            width: 100%;
                            text-align: center;
                            p:nth-of-type(2) {
                                text-align: left;
                            }
                        }
                    }
                }
                &.p-back {
                    .box.p-back {
                        gap: unset !important;
                        padding: unset !important;
                        p {
                            font-weight: $font-weight-bold !important;
                        }
                        .inner-box {
                            padding: 0.520rem 1.2rem !important;
                            &:nth-of-type(2) {
                                border-top: 2px solid $black;
                            }
                        }
                    }
                    th, td {
                        padding: 0.38rem 0.5rem !important;
                    }
                }
            }
        }
        .footer-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 1rem !important;
            gap: $spacing;
            font-size: calc($font-size / 1.43)  !important;
            font-weight: $font-weight-bold !important;
            &.center {
                align-items: center;
            }
            >p {
                text-transform: uppercase;
                font-style: italic;
            }
            .box {
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                &.p-back {
                    .box-inner {
                        display: flex;
                        gap: $spacing-2x-large;
                    }
                }
            }
        }
    }
    
}