// * Collection List: Table
.cll-con-2 {
    height: clamp(calc(100% - 22rem), 66%, 66vh);
    padding: 0 $spacing-4x-large $spacing-2x-large $spacing-4x-large;
    // * Table Container
    .table-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: $border-radius-large;
        box-shadow: $box-shadow;
        table {
            // **                         ** //
            // **** Table Header Styles **** //
            // **                         ** //
            th {
                padding: $spacing-2x-large $spacing-3x-large;
                text-align: center;
                span.th-name {
                    font-size: $font-size;
                    font-weight: $font-weight-bold;
                }
                .th-wrapper {
                    display: flex;
                    align-items: center;
                    img {
                        cursor: pointer;
                        padding-left: 0.5rem;
                    }
                }
            }
            // * All table header except the last child
            th:nth-of-type(-n+6) {
                text-align: left;
            }
            th:nth-of-type(n+2):not(:nth-of-type(n+6)) {
                text-align: right;
            }
            // * Table Checkbox
            th:first-of-type {
                padding-left: $spacing-2x-large;
            }
            th:nth-of-type(2) {
                padding-left: $spacing-small;
            }
            th:nth-of-type(6) {
                .th-wrapper {
                    justify-content: flex-end;
                }
            }
            th:nth-of-type(7) {
                text-align: center;
            }
            // **                       ** //
            // **** Table Data Styles **** //
            // **                       ** //
            td {
                padding: $spacing-medium $spacing-3x-large;
                font-size: $font-size;
                vertical-align: top;
                // * Borrowers' Data Styles
                .td-wrapper {
                    display: flex;
                    align-items: center;
                    
                }
                // * Table Buttons Styles
                .td-btn-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            // * Applied Loan Amount
            .td-num {
                vertical-align: top;
                text-align: right;
                font-weight: $font-weight-bold;
                margin-bottom: 1rem;
            }
            td:nth-of-type(n+2):not(:nth-of-type(n+6)) {
                text-align: right;
            }
            td:first-of-type {
                padding-left: 0.8rem;
            }
            td:nth-of-type(2) {
                padding-left: $spacing-small;
            }
            td:nth-of-type(7) {
                text-align: center;
            }
        }
    }
}

// * Collection Remittance
.clr-con-2 {
    height: clamp(calc(100% - 22rem), 66%, 66vh);
    padding: 0 $spacing-4x-large $spacing-2x-large $spacing-4x-large;
    // * Table Container
    .table-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: $border-radius-large;
        box-shadow: $box-shadow;
        table {
            // **                         ** //
            // **** Table Header Styles **** //
            // **                         ** //
            th {
                padding: $spacing-2x-large $spacing-3x-large;
                text-align: center;
                span.th-name {
                    font-size: $font-size;
                    font-weight: $font-weight-bold;
                }
                .th-wrapper {
                    display: flex;
                    align-items: center;
                    img {
                        cursor: pointer;
                        padding-left: 0.5rem;
                    }
                }
            }
            // * All table header except the last child
            th:nth-of-type(-n+7) {
                text-align: left;
            }
            // th:nth-of-type(n+2):not(:nth-of-type(n+6)) {
            //     text-align: right;
            // }
            // * Table Checkbox
            th:first-of-type {
                padding-left: $spacing-2x-large;
            }
            th:nth-of-type(2) {
                text-align: left;
                padding-left: 0;
            }
            th:nth-of-type(6) {
                .th-wrapper {
                    justify-content: flex-end;
                }
            }
            th:nth-of-type(7) {
                text-align: center;
            }
            // **                       ** //
            // **** Table Data Styles **** //
            // **                       ** //
            td {
                padding: $spacing-medium $spacing-3x-large;
                font-size: $font-size-small;
                // * Borrowers' Data Styles
                .td-wrapper {
                    display: flex;
                    align-items: center;
                }
                // * Table Buttons Styles
                .td-btn-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            td:nth-of-type(-n+7) {
                text-align: left;
            }
            // * Applied Loan Amount
            .td-num {
                text-align: right;
                font-weight: $font-weight-bold;
            }
            // td:nth-of-type(n+2):not(:nth-of-type(n+6)) {
            //     text-align: right;
            // }
            td:first-of-type {
                padding-left: $spacing-2x-large;
                padding-right: 0;
            }
            td:nth-of-type(2) {
                padding-left: 0;
                // padding: 0 0;
            }
            // td:nth-of-type(7) {
            //     text-align: center;
            // }
        }
    }
}

// * Collection Add New: Container Wrapper
.can-container-wrapper {
    height: 100%; 
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
    padding: $spacing-2x-large;
    overflow: hidden;
    .can-container-1 {
        display: flex;
        flex-direction: column;
        gap: calc($spacing-3x-large - 0.5rem) ;
        h3 {
            font-size: $font-size-display;
            font-weight: $font-weight-bold;
        }
        // * Dropdown Button Wrapper
        .wrapper {
            // * All-Member Button Styles
            button {
                @include primaryButton;
                padding: unset;
                width: 100%;
                padding: 1rem 0.5rem;
                a {
                    color: $white;
                }
                img {
                    cursor: pointer;
                    margin-left: $spacing-7x-large;
                }
            }
            // * Borrower Dropdown Button
            .borrower-dropdown {
                position: relative;
                // z-index: -999;
                // height: 100vh;
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 4rem;
                    inset: 0;
                    background-color: rgba(253, 253, 253, 0.9);
                    backdrop-filter: blur(.2rem);
                    z-index: -1;
                }
                .dropdown-menu {
                    // * When a link IS NOT clicked 
                    // * Styles for submenu
                    z-index: -9;
                    // @include dropdownMenu;
                    background-color: transparent;
                    box-shadow: $box-shadow;
                    width: 100%;
                    gap: 1rem;
                    &[closing] {
                        display: block;
                        pointer-events: none;
                        inset: 0;
                        // animation: fade-out 500ms forwards, rise-up 500ms forwards;
                    }
                    li {
                        overflow: hidden;
                        border-radius: $border-radius-large;
                        display: flex;
                        pointer-events: all;
                        cursor: pointer;
                        margin: $spacing-medium 0;
                        .box-1 {
                            width: calc(100% - 65%);
                            padding: $spacing-large;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $black;
                            h4 {
                                font-size: $font-size-medium;
                                font-weight: $font-weight-bold;
                                color: $white;
                                text-align: center;
                            }
                        }
                        .box-2 {
                            width: calc(100% - 35%);
                            background-color: $primary;
                            padding: $spacing;
                            transition: 150ms ease-in;
                            p {
                                font-size: $font-size-small;
                                font-weight: $font-weight-bold;
                                white-space: nowrap;
                                color: $black;
                            }
                            span {
                                font-size: $font-size-medium;
                                color: $white;
                            }
                            &:hover {
                                background-color: $primaryTR3;
                            }
                        }
                    }
                }
                &.showMenu>.link.dropdown {
                    // border-bottom-left-radius: 0;
                    // border-bottom-right-radius: 0;
                    // box-shadow: none;
                }
                &>.link.dropdown>img {
                    transition: transform ease-out 300ms;
                }
                &.showMenu>.link.dropdown>img {
                    -webkit-transform: scaleY(-1);
                    transform: scaleY(-1);
                }
                // * Borrower Dropdown Menu
                &.showMenu>.link.dropdown+.dropdown-menu {
                    top: 5rem;
                    visibility: visible;
                    pointer-events: auto;
                    opacity: 1;
                    border-radius: $border-radius-large;
                    animation: drop-down 500ms ease-in-out forwards;
                }
            }
            .area-menu-container {
                height: 66vh;
                // background-color: mediumseagreen;
                border-radius: $border-radius-large;
                overflow-y: auto;    
                
                &::-webkit-scrollbar {
                    width: 0 !important;
                }
                .area-menu {
                    // * When a link IS NOT clicked 
                    // * Styles for area-menu
                    background-color: transparent;
                    // width: 100%;
                    gap: 1rem;
                    // &[closing] {
                    //     display: block;
                    //     pointer-events: none;
                    //     inset: 0;
                    //     // animation: fade-out 500ms forwards, rise-up 500ms forwards;
                    // }
                    li {
                        overflow: hidden;
                        border-radius: $border-radius-large;
                        display: flex;
                        pointer-events: all;
                        cursor: pointer;
                        margin: $spacing-medium 0;
                        .box-1 {
                            width: calc(100% - 65%);
                            padding: $spacing-large;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $black;
                            h4 {
                                font-size: $font-size-medium;
                                font-weight: $font-weight-bold;
                                color: $white;
                                text-align: center;
                            }
                        }
                        .box-2 {
                            width: calc(100% - 35%);
                            background-color: $primary;
                            padding: $spacing;
                            transition: 150ms ease-in;
                            p {
                                font-size: $font-size-small;
                                font-weight: $font-weight-bold;
                                white-space: nowrap;
                                color: $black;
                            }
                            span {
                                font-size: $font-size-medium;
                                color: $white;
                            }
                            &:hover {
                                background-color: $primaryTR3;
                            }
                        }
                    }
                    .view-selected-area {
                        pointer-events: none;
                        .box-2 {
                            background-color: $black;
                            border-left: 1px solid $whiteTR;
                            p {
                                font-size: $font-size-small;
                                font-weight: $font-weight-bold;
                                white-space: nowrap;
                                color: $white;
                            }
                            span {
                                font-size: $font-size-medium;
                                color: $white;
                            }
                            &:hover {
                            }
                        }
                    }
                }
            }
        }
    }
    .can-container-2 {
        display: flex;
        flex-direction: column;
        padding-left: $spacing-2x-large;
        .inner-container {
            display: flex;
            justify-content: space-between;
            .inner-inner-container:last-of-type {
                pointer-events: none;
                visibility: hidden;
                opacity: 0;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: $spacing;
                margin-right: $spacing-2x-large;    
                animation: rise-up 500ms forwards;
                // ***** ClassList Toggle ***** //
                &.show-print-remit-buttons {
                    pointer-events: all;
                    opacity: 1;
                    visibility: visible;
                    animation: drop-down 500ms forwards; 
                }
            }
        }
        .wrapper-1 {
            padding: $spacing-3x-large 0;
            display: flex;
            gap: 0 $spacing-2x-large;
            span {
                font-size: $font-size-medium;
            }
            
        }
        // * Table Wrapper
        .wrapper-2 {
            // * Table Container
            .table-container {
                // display: table;
                width: 100%;
                // display: flex;
                // flex-direction: column;
                height: 60rem;
                @include breakpointMaxHeight(611px) {
                    // height: clamp(100% - 72%, 34rem, 55vh);
                    height: 33rem;
                }
                // * If the div is display: table;
                // .row {
                //     display: table-row;
                //     pointer-events: all;
                //     padding: 0;
                //     &.header {
                //         width: 100%;
                //         .cell {
                //             border-bottom: 1px solid $secondary-bg;
                //             padding-top: 0;
                //             padding-bottom: 1.5rem;
                //             font-size: 1.2rem;
                //             font-weight: $font-weight-bold;
                //         }
                //     }
                //     .cell {
                //         display: table-cell;
                //         vertical-align: middle;
                //         padding: 1rem 1rem;
                //         height: 0;
                //     }
                //     .data {
                //         background-color: aquamarine;
                //         height: 10rem;
                //         width: 10rem;
                //     }
                //     // ***** ClassList Toggle ***** //
                //     // * Details Wrapper
                //     &.details-wrapper {
                //         display: unset;
                //         background-color: aquamarine;
                //         width: 100vw;
                //         margin-top: 1rem;
                //         position: relative;
                //         z-index: -9;
                //         height: 10rem;
                //         transition: all 280ms ease-in-out;
                //         .row-inner-wrapper {
                //             border-top: 1px solid $secondary-bg;
                //             position: absolute;
                //             width: 100%;
                //             .box {
                //                 display: flex;
                //                 flex-direction: column;
                //                 h4 {
                //                     padding-bottom: 1rem;
                //                     font-size: $font-size-medium;
                //                 }
                //                 .box-wrapper {
                //                     display: flex;
                //                     flex-direction: row;
                //                     .inner-inner-box:first-of-type {
                //                         p {
                //                             color: $font-accent;
                //                         }
                //                     }
                //                     .inner-inner-box:last-of-type {
                //                         padding-left: 1rem;
                //                     }
                //                     p {
                //                         padding: $spacing-small 0;
                //                         font-size: $font-size-medium;
                //                     }
                //                 }
                //                 .inner-box:last-of-type{
                //                     margin-top: 2rem;
                //                 }
                //             }
                //             .box:last-of-type {
                //                 padding-right: 2rem;
                //             }
                //         }
                //     }
                //     &.details-wrapper > .row-inner-wrapper {
                //         display: none;
                //         pointer-events: none;
                //         opacity: 0;
                //         visibility: hidden;
                //         transition: all 280ms ease-in-out;
                //     }
                //     // * tr
                //     .open-wrapper {
                //         height: 21rem;
                //         pointer-events: all;
                //         animation: drop-down 500ms forwards;
                //     }
                //     // * td
                //     &.details-wrapper {
                //         .open-details{
                //             opacity: 1;
                //             visibility: visible;
                //             display: flex;
                //             justify-content: space-between;
                //             pointer-events: all;
                //             animation: drop-down 500ms forwards;
                //         }
                //     }
                // }
                table {
                    // **                         ** //
                    // **** Table Header Styles **** //
                    // **                         ** //
                    tr:not(:first-of-type) {
                        visibility: hidden;
                        opacity: 0;
                        transition: 300ms ease-in;
                    }
                    tr.show-area-details {
                        visibility: visible;
                        opacity: 1;
                    }
                    // * Background Color Odd   
                    tr:nth-of-type(odd) {
                        background-color: transparent !important;
                        &:hover> td {
                            background-color: $primaryTR3;
                            color: $black !important;
                            transition: 300ms ease-out !important;
                        }
                    }
                    th {
                        padding: $spacing-2x-large 0;
                        text-align: center;
                        span.th-name {
                            font-size: $font-size;
                            font-weight: $font-weight-bold;
                        }
                        .th-wrapper {
                            display: flex;
                            align-items: center;
                            img {
                                cursor: pointer;
                                padding-left: .5rem;
                            }
                        }
                    }
                    th {
                        text-align: left;
                    }
                    // * CLient Num
                    th:first-of-type {
                        padding-left: 1rem;
                    }
                    th:last-of-type {
                        padding-left: 2rem;
                    }
                    // * Name
                    th:nth-of-type(3) {
                        padding-left: $spacing-3x-large;
                    }
                    // * Collectible - Advance / Lapses	
                    th:nth-of-type(n+4):not(:last-of-type) {
                        text-align: right;
                    }
                    // **                       ** //
                    // **** Table Data Styles **** //
                    // **                       ** //
                    td {
                        padding: $spacing-medium 0;
                        font-size: $font-size;
                        // * Borrowers' Data Styles
                        .td-wrapper {
                            display: flex;
                            align-items: center;
                            
                            .td-name {
                                margin-left: 2rem;
                            }
                        }
                    }
                    .td-num {
                        color: $black;
                        font-weight: $font-weight-bold;
                        // margin-left: 1rem;
                    }
                    td:first-of-type {
                        padding-left: 1rem;
                    }
                    td:last-of-type {
                        padding-left: 2rem;
                    }
                    td:nth-of-type(3) {
                        padding-left: 1rem;
                    }
                    // * Collectible - Advance / Lapses	
                    td:nth-of-type(n+4):not(:last-of-type) {
                        text-align: right;
                    }
                    // * Details Wrapper
                    .details-wrapper {
                        position: relative;
                        z-index: -9;
                        height: 0;
                        transition: all 200ms ease-in-out;
                        td {
                            border-top: 1px solid $secondary-bg;
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            .box {
                                display: flex;
                                flex-direction: column;
                                h4 {
                                    padding-bottom: 1rem;
                                    font-size: $font-size-medium;
                                }
                                .box-wrapper {
                                    display: flex;
                                    flex-direction: row;
                                    .inner-inner-box:first-of-type {
                                        p {
                                            color: $font-accent;
                                        }
                                    }
                                    .inner-inner-box:last-of-type {
                                        padding-left: 1rem;
                                    }
                                    p {
                                        padding: $spacing-small 0;
                                        font-size: $font-size-medium;
                                    }
                                }
                                .inner-box:last-of-type{
                                    margin-top: 2rem;
                                }
                            }
                            .box:last-of-type {
                                padding-right: 2rem;
                            }
                        }
                    }
                    .details-wrapper > td {
                        display: none;
                        pointer-events: none;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 200ms ease-in-out;
                    }
                    // ***** ClassList Toggle ***** //
                    
                    // * tr
                    .open-wrapper {
                        height: clamp(22rem, 22rem, 10vh);
                        pointer-events: all;
                        animation: drop-down 500ms forwards;
                        // * Viewport Min-Height
                        @include breakpointMaxHeight(611px) {
                            height: clamp(22rem, 22rem, 10vh);
                        }
                        // * Viewport Max-Width
                        @include breakpointMax(1078px) {
                            height: clamp(25rem, 25rem, 10vh);
                        }
                        // * Viewport Max-Width
                        @include breakpointMax(980px) {
                            height: clamp(27rem, 27rem, 10vh);
                        }
                        // * Viewport Max-Width
                        @include breakpointMax(932px) {
                            height: clamp(29rem, 29rem, 10vh);
                        }
                    }
                    
                    // * td
                    .details-wrapper {
                        .open-details {
                            height: clamp(22rem, 22rem, 10vh);
                            background-color: $fifth-bg;
                            // * Viewport Max-Height
                            @include breakpointMaxHeight(611px) {
                                height: clamp(22rem, 22rem, 10vh);
                            }
                            // * Viewport Max-Width
                            @include breakpointMax(1078px) {
                                height: clamp(25rem, 25rem, 10vh);
                            }
                            // * Viewport Max-Width
                            @include breakpointMax(980px) {
                                height: clamp(27rem, 27rem, 10vh);
                            }
                            // * Viewport Max-Width
                            @include breakpointMax(932px) {
                                height: clamp(29rem, 29rem, 10vh);
                            }
                            opacity: 1;
                            visibility: visible;
                            display: flex;
                            justify-content: space-between;
                            pointer-events: all;
                            animation: drop-down 500ms forwards;
                        }
                    }
                    
                }
            }
        }
        // * Details Wrapper 3
        .wrapper-3 {
            padding-top: $spacing-medium;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid $black;
            .box {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                p {
                    font-size: $font-size;
                    color: $font-accent;
                }
                span {
                    margin-top: $spacing;
                    font-size: $font-size-x-medium;
                }
            }
            .box:first-of-type {
                padding-left: $spacing;
            }
            .box:last-of-type {
                padding-right: $spacing;
            }
        }
    }
}

// * Print Collection Container
.print-collection-container {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background: $blackTR;
    z-index: 5;
    @include custom-scroll;
    .printables-container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .page {
            background-color: $white;
            width: 297mm;
            min-height: 210mm;
            padding: 1rem;
            // page-break-after: always;
            // &.page-1, &.page-2 {
            //     background-color: $white;
            //     height: 210mm;
            // }
            .header-wrapper {
                display: flex;
                justify-content: space-between;
                p, span {
                    font-size: $font-size;
                }
            }
            .body-wrapper {
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                .box-wrapper {
                    display: flex;
                    justify-content: space-between;
                    .box {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        padding: 3.1rem 1.2rem;
                        outline: 1px dashed $black;
                        gap: 1.8rem;
                        p, span {
                            font-size: $font-size-small;
                            font-weight: $font-weight-bold;
                        }
                    }
                }
                // * Table
                .table-container {
                    table {
                        tr:first-of-type {
                            background: none;
                            filter: blur(0);
                            box-shadow: none;
                            border-bottom: 1px solid $secondary-bg;
                        }
                        tr:not(:first-of-type) {
                            border-bottom: 1px dashed $black;
                        }
                        tr:hover {
                            background-color: unset;
                            color: unset;
                            cursor: unset;
                        }
                        tr {
                            padding: 1rem 0;
                        }
                        th {
                            padding: 1rem 0;
                            text-align: left;
                        }
                        th:first-of-type {
                            padding-left: 1rem;
                        }
                        th:last-of-type {
                            padding-right: 0;
                        }
                        td:first-of-type {
                            padding-top: 1.4rem;
                        }
                        td:last-of-type {
                            padding-right: 0;
                        }
                        td {
                            vertical-align: top;
                            padding: 1.2rem 0;
                            text-align: left;
                            .td-wrapper {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: .2rem;
                                p:first-of-type {
                                    font-size: $font-size-small;
                                }
                                span {
                                    font-size: $font-size-x-small;
                                }
                            }
                        }
                        .td-name {
                            margin: 0;
                        }
                    }
                }
            }
            .footer-wrapper {
                margin-top: 1rem;
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                justify-items: center;
                align-items: center;
                p, span {
                    font-size: $font-size-x-medium;
                    grid-area: 1/2;
                }
                button {
                    width: unset;
                    grid-area: 1/3;
                    justify-self: flex-end;
                }
            }
        }
    }
}

.page-panel {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 9;
    margin: auto;
    width: 35%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-2rem);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    border-radius: $border-radius-xxx-large;
    background: $blackTR3;
    transition: 250ms ease-in-out;
    &.show-page-panel {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
        transition: 250ms ease-in-out;
    }
    .panel-inner-wrapper {
        padding-left: 1rem;
        [data-current-page-num] {
            width: 4rem;
            border: none;
            outline: none;
            background-color: $fullblackTR;
            color: $white;
            font-size: calc($font-size-x-medium - 2px);
            text-align: center;

        }
        p, span {
            color: $white;
            font-size: $font-size-x-medium;
            grid-area: 1/1;
        }
        span:first-of-type {
            padding-left: 0.5rem;
        }
        span:last-of-type {
            padding-left: 1rem;
        }
    }
    button {
        grid-area: 1/3;
    }
}

.printables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $blackTR3;
    gap: 1rem;
    padding: 1rem 0;
    .page {
        position: relative;
            background-color: $white;
            width: 297mm;
            min-height: 209mm;
            padding: 0 1rem;
            .header-wrapper {
                padding-top: 1rem;
                display: flex;
                justify-content: space-between;
                p, span {
                    font-size: $font-size;
                }
            }
            .body-wrapper {
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                .box-wrapper {
                    display: flex;
                    justify-content: space-between;
                    .box {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        padding: 3.1rem 1.2rem;
                        outline: 1px dashed $black;
                        gap: 1.8rem;
                        p, span {
                            font-size: $font-size-small;
                            font-weight: $font-weight-bold;
                        }
                    }
                }
                // * Table
                .table-container {
                    table {
                        tr:first-of-type {
                            background: none;
                            filter: blur(0);
                            box-shadow: none;
                            border-bottom: 1px solid $secondary-bg;
                        }
                        tr:not(:first-of-type) {
                            border-bottom: 1px dashed $black;
                        }
                        tr:hover {
                            background-color: unset;
                            color: unset;
                            cursor: unset;
                        }
                        tr {
                            padding: 1rem 0;
                        }
                        th {
                            padding: 1rem 0;
                            text-align: left;
                        }
                        th:first-of-type {
                            padding-left: 1rem;
                        }
                        th:last-of-type {
                            padding-right: 0;
                        }
                        td:first-of-type {
                            padding-top: 1.4rem;
                        }
                        td:last-of-type {
                            padding-right: 0;
                        }
                        td {
                            vertical-align: top;
                            padding: 1.35rem 0;
                            text-align: left;
                            .td-wrapper {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: .2rem;
                                p:first-of-type {
                                    font-size: $font-size-small;
                                }
                                span {
                                    font-size: $font-size-x-small;
                                }
                            }
                        }
                        .td-name {
                            margin: 0;
                        }
                    }
                }
            }
            .footer-wrapper {
                margin-top: 1rem;
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                justify-items: center;
                align-items: center;
                .footer-inner-wrapper {
                    position: absolute;
                    bottom: 0;
                    transform: translateY(-2rem);
                    p, span {
                        font-size: $font-size-x-medium;
                        grid-area: 1/2;
                    }
                }
                button {
                    width: unset;
                    grid-area: 1/3;
                    justify-self: flex-end;
                }
            }
    }
}

@page {
    size: A4 landscape;
    margin: 0;
    padding: 0;
}

@media print {
    html, body {
        box-sizing: border-box;
        width: 297mm;
        height: 210mm; 
    }
    .page-panel {
        display: none;
    }
    .printables-container {
        display: unset;
        gap: 0;
        padding: 0;
    }
    .page {
        margin: 0;
        padding: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        height: initial;
        box-shadow: initial;
        background: initial;
    }
    
    // button {
    //     display: none;
    // }
}
