// * MIXINS that are used in this file are in ../res/scss/modules/abstracts/_mixins.scss
// * VARIABLES that are used in this file are in ../res/scss/modules/abstracts/_variables.scss
// 
// * Main Dashboard 2 Styles
.main-dashboard {
    @include dashboard2;
    // * New-Member-Form-Container
    .nm-form-con {
        display: flex;
        height: 100%;
        width: 100%;
        // * Container 1: New Member Form Fields and Buttons
        .nm-container-1 {
            width: calc(100% - 20%);
            padding: 2rem 1rem 2rem 2rem;
            // * Big Container 
            .big-con {
                height: 100%;
                width: 100%;
                padding: 5rem 4rem 2rem 4rem;
                @include containerDefault2;
                @include bigContainerGrid;
                // ** Rowspan Global Styles
                .rowspan {
                    min-height: 0;
                    /* NEW */
                    min-width: 0;
                    /* NEW; needed for Firefox */
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
                        span {
                            margin-bottom: 1rem;
                            font-size: $font-size;
                        }
                        // * Input Global Styles
                        input {
                            @include inputField;
                        }
                        // * Select Input Global Styles
                        .select-box {
                            position: relative;
                            // img {
                            //     cursor: pointer;
                            //     position: absolute;
                            //     z-index: 2;
                            //     transform: translateY(1.5rem) translateX(-1rem);
                            // }
                            select {
                                @include selectField;
                                width: 100%;
                                option {
                                    position: absolute;
                                    outline: none;
                                    border: none;
                                    background-color: $secondary-bg;
                                }
                            }
                        }
                        // * Select Input Arrow
                        .select-box::before {
                            content: '';
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            z-index: 2;
                            right: 0;
                            transform: translateY(1rem) translateX(-1.5rem) rotate(-45deg);
                            // border: 2px solid $black;
                            border-bottom: 2px solid $black;
                            border-left: 2px solid $black;
                            transition: ease-out 300ms;
                            pointer-events: none;
                        }
                        .select-box:focus-within::before {
                            border-top: 2px solid $black;
                            border-right: 2px solid $black;
                            border-bottom: none;
                            border-left: none;
                            transform: translateY(1.3rem) translateX(-1.5rem) rotate(-45deg);
                        }
                        .box-wrap {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .checkbox-wrapper {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin: 0 1rem;
                                span {
                                    letter-spacing: -1px;
                                }
                                input[type="checkbox"] {
                                    @include formCheckbox;
                                }
                                input[type="checkbox"]::after {
                                    @include formCheckboxAfter
                                }
                                input[type="checkbox"]:checked:after {
                                    @include formCheckboxChecked
                                }
                            }
                        }
                    }
                }
                // * Rowspan Header: Header and Buttons 
                .rowspan:first-of-type {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h2 {
                        font-size: $font-size-x-large;
                    }
                    .btn-wrapper {
                        button {
                            @include primaryButton
                        }
                        button:first-of-type {
                            margin-right: 1.5rem;
                        }
                    }
                }
                // * Rowspan 2: Name, Date of Birth, and Age 
                .rowspan:nth-of-type(2) {
                    @include rowspan2;
                }
                // * Rowspan 3: Gender, Birth Place, Civil Status and Mobile Number 
                .rowspan:nth-of-type(3) {
                    @include rowspan3;
                }
                // * Rowspan 4: House Number, Street, Barangay and City 
                .rowspan:nth-of-type(4) {
                    @include rowspan4;
                }
                // * Rowspan 5: Province, Rented, Owned, Free of Use Checkboxes and Years of Stay
                .rowspan:nth-of-type(5) {
                    @include rowspan5;
                }
                // * Rowspan 6: Current Employement, Previous Employment, and Name Of Company 
                .rowspan:nth-of-type(6) {
                    @include rowspan6;
                }
                // * Rowspan 7: Years Of Service, Monthly Income, and Other Source Of Income 
                .rowspan:nth-of-type(7) {
                    @include rowspan7;
                }
                // * Rowspan 8: Check Toggle 
                .rowspan:nth-of-type(8) {
                    @include rowspan8;
                    .box-wrap {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .checkbox-wrapper {
                            display: flex;
                            align-items: center;
                            span {
                                margin-left: 1rem;
                                font-weight: $font-weight-bold;
                                font-style: italic;
                            }
                            input[type="checkbox"] {
                                @include formCheckbox;
                            }
                            input[type="checkbox"]::after {
                                @include formCheckboxAfter
                            }
                            input[type="checkbox"]:checked:after {
                                @include formCheckboxChecked
                            }
                        }
                    }
                }
            }
        }
        // * Container 2: File Attachments and Monthly Bills
        .nm-container-2 {
            width: calc(100% - 80%);
            padding: 2rem 2rem 2rem 1rem;
            // * Small Container
            .small-con {
                height: 100%;
                width: 100%;
                @include twoBlockGrid;
                // * Rowspan Global Styles
                .box-wrap {
                    padding: 3rem 4rem;
                    padding: min(3rem, 5%) min(4rem, 10%);
                    @include containerDefault2;
                }
                // * Boxwrap 1
                .box-wrap:first-of-type {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // * Colspan 1
                    .colspan {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .input-wrapper {
                            margin-bottom: min(2rem, 10%);
                            display: grid;
                            place-items: center;
                            input[type="image"] {
                                width: clamp(4rem, 10vw, 100%);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                        // * Colspan 1 : Buttons
                        button {
                            display: flex;
                            justify-content: center;
                            width: clamp(2rem, 10vw, 100%);
                            @include primaryButton;
                            margin-bottom: 2rem;
                            white-space: nowrap;
                        }
                    }
                }
                // * Boxwrap 2
                .box-wrap:last-of-type {
                    display: flex;
                    flex-direction: column;
                    // * Colspan 2
                    .colspan:last-of-type {
                        display: flex;
                        flex-direction: column;
                        h3 {
                            margin: min(2rem, 10%) 0;
                            font-size: $font-size-medium;
                        }
                        // * Colspan 2 : Input Fields
                        .input-wrapper {
                            display: flex;
                            flex-direction: column;
                            span {
                                margin: min(2rem, 5%) 0;
                                font-size: $font-size;
                            }
                            // * Input Global Styles
                            input {
                                @include inputField;
                            }
                        }
                        // * Daily Expenses
                        .input-wrapper:last-of-type {
                            input {
                                padding: 1rem 2rem min(2rem, 10%) 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}