// *** Nav Mixins
@mixin submenu {
    position: absolute;
    z-index: -9;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    top: 0;
    background-color: $primary;
    pointer-events: none;
}

// *** Dashboard Mixins
// * Dashboard 1
@mixin dashboard {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100% - 10%);
    width: calc(100% - 8%);
    z-index: 10;
}

// * Dashboard 1
@mixin dashboard2 {
    @include dashboard;
    background-color: $third-bg;
}

// *** Defaults
// * Container Default
@mixin containerDefault {
    border-radius: $border-radius-large;
    background-color: $white;
    box-shadow: $box-shadow;
}

@mixin containerDefault2 {
    @include containerDefault;
    box-shadow: $box-shadow-2;
}

// *** Button Mixins
// * Primary Button
@mixin primaryButton {
    border-radius: $border-radius-medium;
    padding: $btn-padding-2;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    color: $white;
    background-color: $primary;
    box-shadow: $box-shadow;
    cursor: pointer;
}

// * Secondary Button
@mixin secondaryButton {
    @include primaryButton;
    padding: $btn-padding-4;
}

// * Transparent Button
@mixin transparentButton {
    cursor: pointer;
    font-size: calc($font-size + .1rem);
    font-weight: $font-weight-bold;
    color: $primary;
    background: transparent;
}

// * Transparent Button 2
@mixin transparentButton2 {
    @include transparentButton;
    padding: $btn-padding-2;
    font-size: $font-size-medium;
}

// *** Input Field Mixins
// * Input Field
@mixin inputField {
    font-size: $font-size-large;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    outline: none;
    background-color: $primary-bg;
    border-radius: $border-radius-medium;
    box-shadow: inset $box-shadow;
}

// * Input Select Field
@mixin selectField {
    position: relative;
    font-size: $font-size-large;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    outline: none;
    background-color: $primary-bg;
    border-radius: $border-radius-medium;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

// * Login Input Field
@mixin loginInputField {
    width: 100%;
    padding: $spacing-2x-large 0 $spacing-large $spacing-large;
    border-radius: $border-radius-medium;
    outline: none;
    border: none;
    color: $font-accent;
    background-color: $primary-bg;
    font-size: $font-size-large;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// * Table Checkbox
@mixin tableCheckboxInput {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    aspect-ratio: 1/1;
    height: 2rem;
    width: 2rem;
    border-radius: .4rem;
    background-color: $primary-bg;
}

// * Form Radio Buttons
@mixin formRadioButtons {
    @include tableCheckboxInput;
    box-shadow: none;
    aspect-ratio: none;
    height: 4.4rem;
    width: 4.4rem;
    border-radius: $circle;
    border: max(1px, 0.15em) solid $primary;
    background-color: $white;
}

@mixin formRadioButtonsAfter {
    content: '';
    position: absolute;
    width: calc(100% - 50%);
    height: calc(100% - 50%);
    border-radius: $circle;
    background-color: $primary;
    visibility: hidden;
    opacity: 0;
    transition: ease-out 250ms;
}

@mixin formRadioButtonsChecked {
    visibility: visible;
    opacity: 1;
}

// * Form Checkbox
@mixin formCheckbox {
    @include tableCheckboxInput;
    box-shadow: none;
    height: 4.4rem;
    width: 4.4rem;
    border-radius: $border-radius-medium;
    border: 1px solid $font-accent;
    background-color: $white;
}

@mixin formCheckboxAfter {
    content: url('../assets/icons/big-check.svg');
    position: absolute;
    top: 1.2rem;
    visibility: hidden;
    opacity: 0;
    transition: ease-out 250ms;
}

@mixin formCheckboxChecked {
    visibility: visible;
    opacity: 1;
}

// **** Grid Layout Mixins **** //
// *** Containers Grid Layouts
@mixin displayGrid {
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: minmax(0, 1fr);
}

// * Big Container
@mixin bigContainerGrid {
    @include displayGrid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: $spacing-2x-large 0px;
}

// * Small Container
@mixin twoBlockGrid {
    @include displayGrid;
    grid-auto-flow: column dense;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    gap: $spacing-2x-large 0px;
}

@mixin smallContainerGrid {
    @include displayGrid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: $spacing-2x-large 0px;
    // calc($spacing-2x-large + 0.5rem)
}

// * Small Container Grid 2
@mixin smallContainerGrid2 {
    @include displayGrid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: $spacing-2x-large 0px;
}

// *** Rowspan Grid Layouts
// ** Big Container Grid Layouts
// * Rowspan 2
@mixin rowspan2 {
    @include displayGrid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.4fr);
    gap: 0px $spacing-2x-large;
}

// * Rowspan 3
@mixin rowspan3 {
    @include displayGrid;
    grid-template-columns: minmax(0, 0.4fr) minmax(0, 1fr) minmax(0, 0.4fr) minmax(0, 1fr) minmax(0, 0.4fr);
    gap: 0px $spacing-2x-large;
}

// * Rowspan 4
@mixin rowspan4 {
    @include displayGrid;
    grid-template-columns: minmax(0, 0.4fr) minmax(0, 1.6fr);
    gap: 0px $spacing-2x-large;
}

// * Rowspan 5
@mixin rowspan5 {
    @include displayGrid;
    grid-template-columns: minmax(0, 0.4fr) minmax(0, 1.6fr);
    gap: 0px $spacing-2x-large;
}

// * Rowspan 6
@mixin rowspan6 {
    @include displayGrid;
    grid-template-columns: minmax(0, 1fr)minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 0px $spacing-2x-large;
}

// * Rowspan 7
@mixin rowspan7 {
    @include displayGrid;
    grid-template-columns: minmax(0, 1fr)minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 0px $spacing-2x-large;
}

// * Rowspan 8
@mixin rowspan8 {
    @include displayGrid;
    grid-template-columns: minmax(0, 1fr);
}

// ** Small Container Grid Layouts
// * Rowspan 1
@mixin smallconRowspan1 {
    @include displayGrid;
    grid-template-columns: minmax(0, 1fr);
    gap: 0px $spacing-2x-large;
}

// * Rowspan 2
@mixin smallconRowspan2 {
    @include displayGrid;
    grid-template-columns: minmax(0, 0.6fr) minmax(0, 1fr) minmax(0, 0.6fr) minmax(0, 1fr);
    gap: 0px $spacing-2x-large;
}

// * Rowspan 3
@mixin smallconRowspan3 {
    @include displayGrid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.6fr) minmax(0, 1fr) minmax(0, 0.6fr);
    gap: 0px $spacing-2x-large;
}