/* Theme Colors */

$primary: #D6A330;
$primaryTR: transparentize($primary, 0.6);
$primaryTR2: transparentize($primary, 0.88);
$primaryTR3: transparentize($primary, 0.2);
$primaryTR4: transparentize($primary, 0.7);
$primaryGrad1: linear-gradient(90deg, rgba(214,163,48,0.85) 0%, rgba(214,163,48,0.95) 15%, rgba(214,163,48, 1) 50%, rgba(214,163,48,0.85) 85%, rgba(214,163,48,0.80) 100%);
$primaryGrad2: linear-gradient(90deg, rgba(214,163,48,0.75) 0%, rgba(214,163,48,0.85) 15%, rgba(214,163,48,0.90) 50%, rgba(214,163,48,0.95) 85%, rgba(214,163,48,1) 100%);
$secondary: #FFFF4E;
$accent: #DAB77A;
$black: #29292B;
$fullblack: #000000;
$blackTR: transparentize($black, 0.4);
$blackTR2: transparentize($black, 0.8);
$blackTR3: transparentize($black, 0.2);
$fullblackTR: transparentize($fullblack, 0.45);
$blackGrad1: linear-gradient(90deg, rgba(41,41,43,0.25) 0%, rgba(41,41,43,0.55) 15%, rgba(41,41,43,0.65) 50%, rgba(41,41,43,0.55) 85%, rgba(41,41,43,0.25) 100%);
$white: #FFFFFF;
$whiteTR: transparentize($white, 0.8);
$whiteTR2: transparentize($white, 0.5);
$primary-bg: #EBEBEB;
$secondary-bg: #E0DFDF;
$third-bg: #FFFFFF;
$fourth-bg: #D9D9D9;
$fifth-bg: #F9F9F9;
$font-accent: #8C8686;
$font-accent-2: #989393; // * Calendar Select
$alert: #FF0404;
$alert2: #E02020;
$alertTR: transparentize($alert, 0.8);
$green: #36A623; // * Green
$green2: #67FF4E; // * Green 2
$greenTR: transparentize($green, 0.8); // * Green TR

/* Typography */

$font-family: 'Inter',
sans-serif;
$font-family-alt: 'Helvetica',
Arial,
sans-serif;
$font-weight: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

/* ---------------------- 1rem = 10px -------------------- */

$font-size-x-display: 7rem;
$font-size-display: 3.5rem;
$font-size-xx-large: 3rem;
$font-size-x-large: 2.5rem;
$font-size-large: 2rem;
$font-size-x-medium: 1.8rem;
$font-size-medium: 1.5rem;
$font-size: 1.2rem;
$font-size-small: 1rem;
$font-size-x-small: 0.8rem;
$font-size-xx-small: 0.6rem;
$lineheight-text: 1.55;
$lineheight-short: 1.2;

/* Borders */

$border-radius-x-small: .50rem;
$border-radius-small: .75rem;
$border-radius-medium: 1rem;
$border-radius-large: 1.5rem;
$border-radius-x-large: 2rem;
$border-radius-xxx-large: 10rem;
$border-radius-btn: 3rem;
$circle: 50%;
$border-width-hairline: 0.5px;
$border-width: 1px;
$border-width-thin: 2px;
$border-width-thick: 5px;

/* Grid */

$grid-64: 3fr 1fr 2fr 2fr 1fr 3fr;
$grid-gap: 4vw;

/* Space */

$max-width: 80rem;
$spacing-xx-small: .125rem;
$spacing-x-small: .25rem;
$spacing-small: .5rem;
$spacing: .75rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-2x-large: 2rem;
$spacing-3x-large: 3rem;
$spacing-4x-large: 4rem;
$spacing-5x-large: 5rem;
$spacing-6x-large: 6rem;
$spacing-7x-large: 7rem;
$spacing-8x-large: 8rem;
$spacing-9x-large: 9rem;
$spacing-10x-large: 10rem;

/* Animation */

$duration-instantly: 0;
$duration-immediately: 0.1s;
$duration-quickly: 0.2s;
$duration-promptly: 0.5s;
$duration-slowly: 1s;

/* Buttons */

$btn-padding: 0.8rem 1.2rem;
$btn-padding-2: 0.8rem 4rem;
$btn-padding-3: 0.8rem 2rem;
$btn-padding-4: 0.6rem 3.5rem;
$btn-padding-5: 0.4rem 2.5rem;
$btn-padding-6: 0.4rem 2.33rem;
$btn-padding-7: 0.5rem 4rem;
$btn-padding-8: 0.6rem 2.5rem;
$btn-x-padding: 1.2rem 10rem;
$stat-padding: 0.4rem 1.2rem;
$task-padding: 0.2rem 1.2rem;
$sqr-padding: 1.2rem;

/* Box Shadows */

$box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
$box-shadow-inv-left: -2px 17px 4px -3px rgba(0, 0, 0, 0.15);
$box-shadow-inv-right: 6px 20px 10px -10px rgba(0, 0, 0, 0.9);
$box-shadow-2: 2px 1px 10px 0px rgba(0, 0, 0, 0.25);
$box-shadow-3: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$box-shadow-4: inset 0px 4.6px 2px -3px rgba(0, 0, 0, 0.25);