// * MIXINS that are used in this file are in ../res/scss/modules/abstracts/_mixins.scss
// * VARIABLES that are used in this file are in ../res/scss/modules/abstracts/_variables.scss
// 
// * Main Dashboard 2 Styles
.main-dashboard {
    @include dashboard2;
    // * All-Members-Container-1
    // * Container 1: All Members Header, Buttons, and Searchbar
    .m-con-1 {
        display: flex;
        flex-direction: column;
        height: calc(100% - 74%);
        padding: $spacing-4x-large $spacing-4x-large $spacing-2x-large $spacing-4x-large;
        h2 {
            font-size: $font-size-x-large;
        }
        .p-1 {
            margin-top: $spacing-large;
            font-size: $font-size-x-medium;
            font-style: italic;
        }
        .p-2 {
            margin-top: $spacing-large;
            font-size: $font-size-x-medium;
            span {
                font-weight: $font-weight-bold;
            }
        }
        // * Button Container
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: $spacing-large;
            .wrapper {
                display: flex;
            }
            // * Button Wrapper
            .wrapper:first-of-type {
                gap: 2rem;
                // * All-Member Button Styles
                button {
                    @include primaryButton;
                    a {
                        color: $white;
                    }
                    img {
                        cursor: pointer;
                        margin-left: $spacing-3x-large;
                    }
                }
                // * Borrower and Type Of Loan Dropdown Button
                button:nth-of-type(n+2) {
                    position: relative;
                    background-color: aqua;
                    img {
                        position: absolute;
                        transform: translateY(.3rem);
                    }
                }
                // * Borrower Dropdown Button
                .borrower-dropdown {
                    position: relative;
                    .dropdown-menu {
                        // * When a link IS NOT clicked 
                        // * Styles for submenu
                        @include dropdownMenu;
                        box-shadow: $box-shadow;
                        width: 100%;
                        a {
                            li {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                width: 100%;
                                padding: $spacing-large $spacing-4x-large;
                                span {
                                    font-size: $font-size-medium;
                                    font-weight: $font-weight-bold;
                                    white-space: nowrap;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                .borrower-dropdown.showMenu>.link.dropdown {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    box-shadow: none;
                }
                .borrower-dropdown>.link.dropdown>img {
                    transition: transform ease-out 300ms;
                }
                .borrower-dropdown.showMenu>.link.dropdown>img {
                    -webkit-transform: scaleY(-1);
                    transform: scaleY(-1);
                }
                // * Borrower Dropdown Menu
                .borrower-dropdown.showMenu>.link.dropdown+.dropdown-menu {
                    visibility: visible;
                    pointer-events: auto;
                    opacity: 1;
                    border-bottom-left-radius: $border-radius-large;
                    border-bottom-right-radius: $border-radius-large;
                    // transition: opacity ease-out 250ms;
                    animation: drop-down 500ms ease-in-out forwards;
                }
            }
            // * Search Wrapper
            .wrapper:last-of-type {
                gap: 2rem;
                display: flex;
                align-items: center;
                button {
                    cursor: pointer;
                    background: none;
                    &:hover {
                        transform: scale(1.015);
                    }
                }
                .search-wrap {
                    position: relative;
                    display: flex;
                    align-items: center;
                    // * Search input text-field
                    input {
                        @include inputField;
                        position: relative;
                        padding-left: $spacing-6x-large;
                        &::placeholder {
                            font-size: $font-size-large;
                            position: absolute;
                            top: 0;
                            transform: translateY(1rem);
                        }
                        &::-webkit-search-cancel-button {
                            -webkit-appearance: none;
                        }
                    }
                    img {
                        position: absolute;
                        width: 8%;
                        transform: translateX(1.5rem);
                    }
                }
            }
        }
        // * View Trash Button
        .btn-container {
            margin-top: $spacing-large;
            button {
                @include transparentButton;
            }
        }
    }
    // * All-Members-Container-2
    // * Container 2: Table and Pagination
    .m-con-2 {
        height: calc(100% - 26%);
        padding: $spacing-4x-large $spacing-4x-large $spacing-2x-large $spacing-4x-large;
        // * Table Container
        .table-container {
            display: flex;
            flex-direction: column;
            height: calc(100% - 10%);
            border-radius: $border-radius-large;
            box-shadow: $box-shadow;
            table {
                // **                         ** //
                // **** Table Header Styles **** //
                // **                         ** //
                counter-reset: row-num;
                tr {
                    counter-increment: row-num;
                }
                th {
                    padding: 2rem 0;
                    text-align: center;
                    span.th-name {
                        font-size: $font-size-medium;
                        font-weight: $font-weight-bold;
                    }
                    .th-wrapper {
                        display: flex;
                        align-items: center;
                        img {
                            cursor: pointer;
                            padding-left: .5rem;
                        }
                    }
                }
                // * Table Checkbox
                input[type="checkbox"] {
                    @include tableCheckboxInput;
                    &::after {
                        content: url('../assets/icons/white-check.svg');
                        position: absolute;
                        top: .1rem;
                        visibility: hidden;
                    }
                    &:checked {
                        background-color: $primary;
                        animation: pop-up-big 300ms forwards;
                    }
                    &:checked:after {
                        // animation: pop-up 300ms forwards;
                        visibility: visible;
                    }
                }
                // * All table header except the last child
                th:nth-of-type(-n+6) {
                    text-align: left;
                }
                // * Table Checkbox
                th:first-of-type {
                    padding-left: 1rem;
                }
                // * Borrower
                th:nth-of-type(2) {
                    padding-left: 1rem;
                }
                // **                       ** //
                // **** Table Data Styles **** //
                // **                       ** //
                td {
                    padding: $spacing-medium 0;
                    font-size: $font-size-medium;
                    // * Borrowers' Data Styles
                    .td-wrapper {
                        display: flex;
                        align-items: center;
                        .td-num {
                            font-weight: $font-weight-bold;
                            margin-left: 1rem;
                        }
                        .td-name {
                            // margin-left: 2rem;
                        }
                        .number::before {
                            content: counter(row-num);
                        }
                    }
                    // * Table Buttons Styles
                    .td-btn-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        button {
                            cursor: pointer;
                        }
                        // * Table View Button 
                        .a-btn-view {
                            @include secondaryButton;
                        }
                        // * Table Trash Button
                        .a-btn-trash {
                            @include transparentButton2;
                        }
                    }
                }
                // * Due Date Data
                .td-due {
                    font-weight: $font-weight-bold;
                }
                td:first-of-type {
                    padding-left: 1rem;
                }
                td:nth-of-type(2) {
                    padding-left: 1rem;
                }
            }
        }
        // * Pagination Container
        .pagination-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 3rem;
            height: calc(100% - 90%);
            // * Pagination Links
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $font-size-large;
                font-weight: $font-weight-bold;
                margin: 0 $spacing-small;
                color: $black;
            }
            a:first-of-type {
                margin-right: $spacing-6x-large;
            }
            a:last-of-type {
                margin-left: $spacing-6x-large;
            }
        }
    }
    // * New Officer Form Container
    .no-form-con {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        // * New Member Container Wrapper
        .no-container-wrapper {
            display: grid;
            grid-template-columns: minmax(0, 1.6fr) minmax(0, 0.4fr);
            // * Container 1: New Member Form Fields and Buttons
            .no-container-1 {
                padding: 2rem 1rem 1rem 2rem;
                // * Big Container 
                .big-con {
                    width: 100%;
                    // height: calc(100% - 20%);
                    padding: 5rem 4rem 4rem 4rem;
                    @include containerDefault2;
                    @include bigContainerGrid2;
                    gap: $spacing-4x-large;
                    // ** Rowspan Global Styles
                    .rowspan {
                        min-height: 0;
                        /* NEW */
                        min-width: 0;
                        /* NEW; needed for Firefox */
                        .input-wrapper {
                            display: flex;
                            flex-direction: column;
                            span {
                                margin-bottom: 1rem;
                                font-weight: $font-weight-bold;
                                font-size: $font-size;
                            }
                            // * Input Global Styles
                            input {
                                @include inputField;
                            }
                            // * Select Input Global Styles
                            .select-box {
                                position: relative;
                                select {
                                    @include selectField;
                                    width: 100%;
                                    option {
                                        position: absolute;
                                        outline: none;
                                        border: none;
                                        background-color: $secondary-bg;
                                    }
                                }
                            }
                            // * Select Input Arrow
                            .select-box::before {
                                content: '';
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                z-index: 2;
                                right: 0;
                                transform: translateY(1rem) translateX(-1.5rem) rotate(-45deg);
                                // border: 2px solid $black;
                                border-bottom: 2px solid $black;
                                border-left: 2px solid $black;
                                transition: ease-out 300ms;
                                pointer-events: none;
                            }
                            .select-box:focus-within::before {
                                border-top: 2px solid $black;
                                border-right: 2px solid $black;
                                border-bottom: none;
                                border-left: none;
                                transform: translateY(1.3rem) translateX(-1.5rem) rotate(-45deg);
                            }
                            // * Radio Buttons
                            .box-wrap {
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                .radio-btn-wrapper {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    span {
                                        white-space: nowrap;
                                    }
                                    input[type="radio"] {
                                        @include formRadioButtons;
                                    }
                                    input[type="radio"]::after {
                                        @include formRadioButtonsAfter;
                                    }
                                    input[type="radio"]:checked:after {
                                        @include formRadioButtonsChecked;
                                    }
                                    // input[type="radio"]:focus {
                                    //     outline: max(1px, 0.15em) solid $primary;
                                    //     outline-offset: max(2px, 0.15em);
                                    // }
                                }
                            }
                        }
                    }
                    // * Rowspan Header: Header and Buttons 
                    .rowspan:first-of-type {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h2 {
                            font-size: $font-size-x-large;
                        }
                    }
                    // * Rowspan 2: First Name, Middle Name , Last Name, and Suffix
                    .rowspan:nth-of-type(2) {
                        @include rowspan2;
                    }
                    // * Rowspan 3: Gender, Date Of Birth, Age, Place Of Birth and Civil Status
                    .rowspan:nth-of-type(3) {
                        @include rowspan3;
                    }
                    // * Rowspan 4: Contact Number and Email Address
                    .rowspan:nth-of-type(4) {
                        @include rowspan4;
                    }
                    // * Rowspan 5: House Address and Barangay
                    .rowspan:nth-of-type(5) {
                        @include rowspan5;
                        grid-template-columns: minmax(0, 1.6fr) minmax(0, 0.4fr);
                    }
                    // * Rowspan 6: Barangay, City / Municipality, Province / Region, and Country
                    .rowspan:nth-of-type(6) {
                        @include rowspan6;
                    }
                }
            }
            // * Container 2: File Attachments and Monthly Bills
            .no-container-2 {
                padding: 2rem 2rem 1rem 1rem;
                // * Small Container
                .small-con {
                    height: 100%;
                    width: 100%;
                    // * Rowspan Global Styles
                    .box-wrap {
                        height: 100%;
                        padding: min(3rem, 5%) min(4rem, 10%);
                        @include containerDefault2;
                    }
                    // * Boxwrap 1
                    .box-wrap:first-of-type {
                        display: grid;
                        grid-template-rows: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
                        align-items: center;
                        justify-items: center;
                        // * Colspan 1
                        h3 {
                            font-size: $font-size-x-large;
                        }
                        .colspan {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 2rem;
                            .input-wrapper {
                                // margin-bottom: min(2rem, 10%);
                                display: grid;
                                place-items: center;
                                input[type="image"] {
                                    width: clamp(4rem, 10vw, 100%);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                            // * Colspan 1 : Buttons
                            button {
                                display: flex;
                                justify-content: center;
                                width: clamp(2rem, 10vw, 100%);
                                white-space: nowrap;
                                &:last-of-type {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
        // * Container 3: Job Information Input Fields
        .no-container-3 {
            height: calc(100% - 40%);
            width: 100%;
            padding: 1rem 2rem 2rem;
            .small-con-2 {
                height: 100%;
                width: 100%;
                @include smallContainerGrid2;
                @include containerDefault2;
                grid-template-rows: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr);
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
                gap: $spacing-2x-large $spacing-2x-large;
                padding: 3rem 4rem 3rem 4rem;
                .rowspan {
                    min-height: 0;
                    /* NEW */
                    min-width: 0;
                    /* NEW; needed for Firefox */
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
                        >span {
                            margin-bottom: 1rem;
                            font-weight: $font-weight-bold;
                            font-size: $font-size;
                        }
                        // * Input Global Styles
                        input {
                            @include inputField;
                        }
                        // * Select Input Global Styles
                        .select-box {
                            position: relative;
                            select {
                                @include selectField;
                                width: 100%;
                                option {
                                    position: absolute;
                                    outline: none;
                                    border: none;
                                    background-color: $secondary-bg;
                                }
                            }
                        }
                        // * Select Input Arrow
                        .select-box::before {
                            content: '';
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            z-index: 2;
                            right: 0;
                            transform: translateY(1rem) translateX(-1.5rem) rotate(-45deg);
                            // border: 2px solid $black;
                            border-bottom: 2px solid $black;
                            border-left: 2px solid $black;
                            transition: ease-out 300ms;
                            pointer-events: none;
                        }
                        .select-box:focus-within::before {
                            border-top: 2px solid $black;
                            border-right: 2px solid $black;
                            border-bottom: none;
                            border-left: none;
                            transform: translateY(1.3rem) translateX(-1.5rem) rotate(-45deg);
                        }
                        // * Radio Buttons
                        .box-wrap {
                            display: flex;
                            align-items: center;
                            .radio-btn-wrapper {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                span {
                                    font-weight: $font-weight-bold;
                                    margin-left: 1rem;
                                    white-space: nowrap;
                                }
                                input[type="radio"] {
                                    @include formCheckbox;
                                }
                                input[type="radio"]::after {
                                    @include formCheckboxAfter;
                                }
                                input[type="radio"]:checked:after {
                                    @include formCheckboxChecked;
                                }
                            }
                        }
                    }
                }
                // * Rowspan Header
                .rowspan:nth-of-type(1) {
                    grid-area: 1 / 1 / 2 / -1;
                    h2 {
                        font-size: $font-size-x-large;
                    }
                }
                // * Rowspan 2: Valid ID Presented and ID Number
                .rowspan:nth-of-type(2) {
                    @include smallcon2Rowspan2;
                    grid-area: 2 / 1 / 2 / -1;
                    grid-template-columns: minmax(0, 0.3fr) minmax(0, 1.7fr);
                }
                // * Rowspan 3: ID Front and Back Image Input
                .rowspan:nth-of-type(3) {
                    display: grid;
                    grid-area: 3 / 1 / 5 / 1;
                    grid-template-rows: minmax(0, 1fr) minmax(0, 0.4fr);
                    gap: $spacing-2x-large 0;
                    .wrapper {
                        height: 100%;
                        display: grid;
                        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
                        gap: 0 $spacing-2x-large;
                        .input-wrapper>input[type=image] {
                            height: 30%;
                            object-fit: cover;
                        }
                    }
                }
                // * Rowspan 4: Philhealth Number, Pag-ibig Number and SSS Number
                .rowspan:nth-of-type(4) {
                    display: grid;
                    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
                    grid-area: 3 / 2 / 5 / -1;
                    gap: $spacing-3x-large 0;
                    .wrapper-2 {
                        display: grid;
                        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
                        gap: 0 $spacing-2x-large;
                    }
                }
            }
        }
    }
    // * New Officer Form Container
    .fa-form-con {
        // display: flex;
        height: 100%;
        // flex-direction: column;
        // height: calc(100% - 80%);
        width: 100%;
        // * New Member Container Wrapper
        .fa-container-wrapper {
            height: 100%;
            // * Container 1: New Member Form Fields and Buttons
            .fa-container-1 {
                height: 100%;
                display: grid;
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
                grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
                gap: $spacing-2x-large;
                padding: $spacing-2x-large;
                // * Big Container 
                .verti-con {
                    height: 100%;
                    width: 100%;
                    padding: 5rem 4rem 4rem 4rem;
                    @include containerDefault2;
                    display: grid;
                    grid-template-rows: minmax(0, 0.4fr) minmax(0, 2fr) minmax(0, 1fr);
                    gap: $spacing-4x-large;
                    grid-area: 1 / 1 / -1 / 3;
                    // ** Rowspan Global Styles
                    .rowspan {
                        min-height: 0;
                        /* NEW */
                        min-width: 0;
                        /* NEW; needed for Firefox */
                        .input-wrapper {
                            display: flex;
                            flex-direction: column;
                            span {
                                margin-bottom: 1rem;
                                font-weight: $font-weight-bold;
                                font-size: $font-size-large;
                            }
                            // * Input Global Styles
                            input {
                                @include inputField;
                            }
                        }
                    }
                    // * Rowspan 1: Header
                    .rowspan:first-of-type {
                        display: grid;
                        flex-direction: column;
                        h2 {
                            font-size: $font-size-display;
                        }
                        p {
                            font-size: $font-size;
                        }
                    }
                    // * Rowspan 2: Area Name, Location and Search Bar
                    .rowspan:nth-of-type(2) {
                        display: grid;
                        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
                        gap: 3rem 0;
                        .search-wrap {
                            position: relative;
                            input {
                                width: 100%;
                                &:hover~img {
                                    opacity: 0;
                                }
                                &:focus~img,
                                &:focus-within~img,
                                &:focus-visible~img {
                                    scale: 0;
                                    opacity: 0;
                                    transform: translateY(.6rem) translateX(-2.5rem);
                                    transition: 300ms ease-in-out;
                                }
                            }
                            img {
                                position: absolute;
                                width: 3rem;
                                right: 0;
                                transform: translateY(.6rem) translateX(-2.5rem);
                                transition: 200ms ease-in-out;
                            }
                        }
                    }
                    // * Rowspan 3: Save Button
                    .rowspan:nth-of-type(3) {
                        display: grid;
                        align-items: flex-end;
                        justify-items: flex-end;
                    }
                }
                .horiz-con {
                    height: 100%;
                    width: 100%;
                    // * Rowspan Global Styles
                    &.con1 {
                        grid-area: 1 / 3 / 4 / -1;
                    }
                    &.con2 {
                        grid-area: 4 / 3 / -1 / -1;
                    }
                    .box-wrap {
                        height: 100%;
                        padding: min(3rem, 5%) min(4rem, 10%);
                        @include containerDefault2;
                        display: grid;
                        grid-template-rows: minmax(0, 0.2fr) minmax(0, 1fr);
                        .rowspan:first-of-type {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            h3 {
                                font-size: $font-size-x-large;
                            }
                            .input-wrapper {
                                // * Input Global Styles
                                .search-wrap {
                                    position: relative;
                                    input {
                                        @include inputField;
                                        padding-left: 8rem;
                                        transition: 200ms ease-in-out;
                                        &:hover~img {
                                            opacity: 0;
                                        }
                                        &:focus~img,
                                        &:focus-within~img,
                                        &:focus-visible~img {
                                            scale: 0;
                                            opacity: 0;
                                            transform: translateY(.6rem) translateX(2rem);
                                            transition: 300ms ease-in-out;
                                        }
                                        &:focus,
                                        &:focus-within,
                                        &:focus-visible {
                                            padding-left: 3.5rem;
                                        }
                                    }
                                    img {
                                        width: 3rem;
                                        position: absolute;
                                        left: 0;
                                        transform: translateY(.6rem) translateX(2rem);
                                        transition: 200ms ease-in-out;
                                    }
                                }
                            }
                        }
                        .rowspan:last-of-type {
                            display: grid;
                            grid-template-rows: minmax(0, 1fr) minmax(0, 0.2fr);
                            gap: $spacing-large 0;
                            .table-container {
                                // display: flex;
                                // flex-direction: column;
                                // height: calc(100% - 10%);
                                table {
                                    // **                         ** //
                                    // **** Table Header Styles **** //
                                    // **                         ** //
                                    height: 100%;
                                    tr:first-of-type,
                                    tr:last-of-type {
                                        border-bottom: 1px solid $black;
                                    }
                                    th {
                                        padding: $spacing-2x-large 0;
                                        text-align: center;
                                        span.th-name {
                                            font-size: $font-size-medium;
                                            font-weight: $font-weight-bold;
                                        }
                                        .th-wrapper {
                                            display: flex;
                                            align-items: center;
                                            img {
                                                cursor: pointer;
                                                padding-left: .5rem;
                                            }
                                        }
                                    }
                                    // * Table Checkbox
                                    input[type="checkbox"] {
                                        @include tableCheckboxInput;
                                        &::after {
                                            content: url('../assets/icons/white-check.svg');
                                            position: absolute;
                                            top: .1rem;
                                            visibility: hidden;
                                        }
                                        &:checked {
                                            background-color: $primary;
                                            animation: pop-up-big 300ms forwards;
                                        }
                                        &:checked:after {
                                            // animation: pop-up 300ms forwards;
                                            visibility: visible;
                                        }
                                    }
                                    // * All table header except the last child
                                    th:nth-of-type(-n+4) {
                                        text-align: left;
                                    }
                                    // **                       ** //
                                    // **** Table Data Styles **** //
                                    // **                       ** //
                                    td {
                                        padding: $spacing-2x-large 0;
                                        font-size: $font-size-medium;
                                        // * Borrowers' Data Styles
                                        .td-wrapper {
                                            display: flex;
                                            align-items: center;
                                            .td-name {
                                                // margin-left: 2rem;
                                            }
                                        }
                                        // * Table Buttons Styles
                                        .td-btn-wrapper {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            button {
                                                cursor: pointer;
                                            }
                                            // * Table View Button 
                                            .a-btn-view {
                                                @include secondaryButton;
                                            }
                                            // * Table Trash Button
                                            .a-btn-trash {
                                                @include tableButton;
                                            }
                                        }
                                    }
                                }
                            }
                            // * Pagination Container
                            .pagination-container {
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                // * Pagination Links
                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: $font-size;
                                    font-weight: $font-weight-bold;
                                    margin: 0 $spacing-small;
                                    color: $black;
                                    img {
                                        width: 50%;
                                    }
                                }
                                a:first-of-type {
                                    margin-right: $spacing-6x-large;
                                }
                                a:last-of-type {
                                    margin-left: $spacing-6x-large;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}