*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}


/* <html> = the root */

html {
    font-size: 62.5%;
    /* (62.5/100) * 16px = 10px */
}

body {
    font-family: $font-family;
    height: 100vh;
    // overflow: hidden;
}

main {
    height: 100%;
}

.main-dashboard {
    overflow-y: scroll;
}

:focus:not(:focus-visible) {
    outline: none;
}

menu,
ol,
ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

dialog {
    border: none !important;
}

hr {
    border: 0;
}

img {
    max-width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img[data-back-to-members-table] {
    cursor: pointer;
    pointer-events: all;
    transition: 200ms ease-in-out;

    &:hover {
        transform: translateX(-1rem)
    }
}

img[data-back-to-group-members-table] {
    cursor: pointer;
    pointer-events: all;
    transition: 200ms ease-in-out;

    &:hover {
        transform: translateX(-1rem)
    }
}

img[alt='funnel'] {
    transition: scale 150ms ease-in-out;
    &:hover {
        scale: 1.150;
    }
}

button:has([alt='filter']){
    cursor: pointer;
    background: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    isolation: isolate;

    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        width: 4rem;
        height: 4rem;
        background-color: $secondary-bg;
        border-radius: $border-radius-small;
        opacity: 0;
        transition: all 150ms ease-in-out;
    }

    &:hover::before {
        opacity: .6;
        transition: all 150ms ease-in-out;
    }

}

button {
    font-family: $font-family;
    border: none;
    outline: none;
    cursor: pointer;

}

// .rowspan:has(table) {
//     overflow-y: auto;
//     @include custom-scroll;
// }

// * Custom Scroll and Overflow-y: auto made Global
.rowspan.table,
.table-container,
.table-container-2 {
    @include custom-scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: auto;

    tr:first-of-type {
        isolation: isolate;
        position: sticky;
        z-index: 5;
        top: 0;
        &::after {
            content: '';
            z-index: -1;
            position: absolute;
            inset: 0;
            background-color: rgba(253, 253, 253, 0.9);
            backdrop-filter: blur(.2rem);
            box-shadow: 0px 2px 11px 1px rgba(233, 233, 233, 0.75);
        }

    }

    tr:not(:first-of-type):hover {
        cursor: pointer;
        background-color: $primary;
        color: $white;
        transition: 300ms ease-out;

        &>.td-btns>.td-btn-wrapper>button {
            background-color: $white;
            color: $primary;
            transition: 200ms ease-out;
            &:hover {
                background-color: $black;
                color: $white;
            }
        }

        &>.td-btns>.td-btn-wrapper>button.a-btn-trash {
            transition: 200ms ease-in-out;
            color: $white;
            &:hover {
                color: $black;
            }
        }

        &>.td-btns>.td-btn-wrapper>button.a-btn-trash-3 {
            transition: 200ms ease-in-out;
            color: $white;
            &:hover {
                color: $black;
            }
        }
    }

    // * Background Color Odd   
    tr:nth-of-type(odd) {
        background-color: $primaryTR2;
    }
    
    th {
        position: sticky;
        top: 0;
        padding: 0 min(1rem);
    }
    

    .td-num-out {
        padding: 0 $spacing-2x-large;
        font-weight: $font-weight-bold;
    }
    .td-wrapper {
        display: flex;
        align-items: center;
        .td-num.td-no-margin {
            margin: 0;
        }
        .td-num {
            margin-left: $spacing-large;
            font-weight: $font-weight-bold;
        }
        .td-name {
            margin-left: 2rem;
        }
    }

    .td-btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-large;
    }

}

// * Active Primary Color
.active {
    display: block;
    background-color: $primary;
    color: $white;
    transition: all 200ms ease-in-out;
}

.activeLink {
    transition: all 500ms ease-in;
    background: $primaryGrad1;
    // background-color: $primary;
}

.activeSublink {
    transition: all 500ms ease-in;
    font-weight: $font-weight-black;
    background: rgba(0, 0, 0, 0.125);
    background-blend-mode: darken;
}

// * Active Table Td Column
.activeColumn {
    transition: all 200ms ease-in-out;
    background-color: $primary;
    color: $white;
    &:nth-of-type(odd) {
    background-color: $primaryTR3;

    }
    &>.td-btns>.td-btn-wrapper>button {
        background-color: $white;
        color: $primary;
        transition: 200ms ease-out;
        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    &>.td-btns>.td-btn-wrapper>button.a-btn-trash {
        transition: 200ms ease-in-out;
        color: $white;
        &:hover {
            color: $black;
        }
    }

    &>.td-btns>.td-btn-wrapper>button.a-btn-trash-3 {
        transition: 200ms ease-in-out;
        color: $white;
        &:hover {
            color: $black;
        }
    }
}

// * Active Green Color
.activeGreen {
    display: block;
    background-color: $green;
    color: $white;
    transition: all 200ms ease-in-out;
}

// * Primary Button Global
.button {
    @include primaryButton;
}

// * Transparent Button Global
.transparentButton {
    @include transparentButton;
}

// * Transparent 2 Button Global
.transparentButton2 {
    @include tableTransparentTrashButton;
}

// * Transparent 3 (Show All) Button Global
.transparentButton3 {
    @include transparentButton5;
}

// * Transparent Underline Button Global
.transparentButtonUnderline {
    @include transparentButton4;
}

// * Table View Button Global
.a-btn-view {
    @include secondaryButton;
}

// * Table View 2 Button Global
.a-btn-view-2 {
    @include tableButton;
}

// * Table View 3 Button Global
.a-btn-view-3 {
    @include tableButton2;
}

// * Table Trash (Transparent) Button Global
.a-btn-trash {
    @include transparentButton2;
}

// * Table Trash 2 Button Global
.a-btn-trash-2 {
    @include tableButton;
}

// * Table Trash 3 (Transparent) Button Global
.a-btn-trash-3 {
    @include tableTransparentTrashButton;
}

// * Table Trash 4 Button Global
.a-btn-trash-4 {
    @include secondaryButton;
}

// * Table Trash 5 Button Global
.a-btn-trash-5 {
    @include tableButton3;
}

// * Table Edit Button Global
.a-btn-edit {
    @include tableButton;
}

// * Table Delete Button Global
.a-btn-delete {
    @include tableButton;
}

// * View Loan Details Button Global
.viewLoanDetailsButton {
    @include transparentButton3;
}

// * Decline Button Global
.declineButton {
    @include declineButton;
}

// * Release Button Global
.releaseButton {
    @include releaseButton;
}

// * Add or Sub Button Global
.addOrSubButton {
    @include addOrSubButton;
}

// * File Button Global
.fileButton {
    @include fileButton;
}

// * Table Chip Global
.tb-chip {
    @include tableChips;
}

// * Checkbox Global
.checkbox {
    @include tableCheckboxInput;
}

// * Select Input Global Styles
.selected {
    @include selectDropdown;
}
.selected h4,
.select-box h4 {
    cursor: pointer;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $black;
}
.select-box {
    display: flex;
    // width: 30rem;
    flex-direction: column;
    position: relative;
    .options-container {
        @include selectDropdownOptionContainer;
    }
}

// * Input Global
.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    >span {
        font-weight: $font-weight-bold;
        font-size: $font-size;
    }
    // * Input Global Styles
    input {
        @include inputField;
    }
}

// * Input Modal Global
.input-wrapper-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    >span {
        font-weight: $font-weight-bold;
        font-size: $font-size-medium;
    }
    // * Input Global Styles
    input {
        @include inputField;
    }
}