*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}


/* <html> = the root */

html {
    font-size: 62.5%;
    /* (62.5/100) * 16px = 10px */
}

body {
    font-family: $font-family;
    height: 100vh;
    // overflow: hidden;
}

main {
    height: 100%;
}

.main-dashboard {
    overflow-y: scroll;
}

:focus:not(:focus-visible) {
    outline: none;
}

menu,
ol,
ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

dialog {
    border: none !important;
}

hr {
    border: 0;
}

img {
    max-width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button {
    font-family: $font-family;
    border: none;
    outline: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    tr:first-of-type {
        isolation: isolate;
        position: sticky;
        z-index: 5;
        top: 0;
        &::after {
            content: '';
            z-index: -1;
            position: absolute;
            inset: 0;
            background-color: rgba(253, 253, 253, 0.9);
            backdrop-filter: blur(.2rem);
            box-shadow: 0px 2px 11px 1px rgba(233, 233, 233, 0.75);
        }

    }
    tr:not(:first-of-type):hover {
        transition: 200ms ease-in-out;
        color: $white;
        background-color: $primary;
    }

    tr:not(:first-of-type):hover>.td-btns>.td-btn-wrapper>button.a-btn-trash {
        transition: 200ms ease-in-out;
        color: $white;
    }
    
    th {
        position: sticky;
        top: 0;
    }
}

.table-container {
    @include custom-scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.active {
    display: block;
    background-color: $primary;
    color: $white;
    transition: all 200ms ease-in-out;
}

.activeGreen {
    display: block;
    background-color: $green;
    color: $white;
    transition: all 200ms ease-in-out;
}

// * Primary Button Global
.button {
    @include primaryButton;
}

// * Transparent Button Global
.transparentButton {
    @include transparentButton;
}

// * Transparent Underline Button Global
.transparentButtonUnderline {
    @include transparentButton4;
}

// * Decline Button Global
.declineButton {
    @include declineButton;
}

// * Release Button Global
.releaseButton {
    @include releaseButton;
}

// * Table Chip Global
.tb-chip {
    @include tableChips;
}

// * Checkbox Global
.checkbox {
    @include tableCheckboxInput;
}

// * Select Input Global Styles
.selected {
    @include selectDropdown;
}
.selected h4,
.select-box h4 {
    cursor: pointer;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $black;
}
.select-box {
    display: flex;
    // width: 30rem;
    flex-direction: column;
    position: relative;
    .options-container {
        @include selectDropdownOptionContainer;
    }
}