.textFontLarge {
    font-size: $font-size-large !important;
}

.textFont-x-Medium {
    font-size: $font-size-x-medium !important;
}

.textFont-Medium {
    font-size: $font-size-medium !important;
}

.textItalic {
    font-style: italic;
}