// * User List Container
// * Container 1: Header, Buttons, and Searchbar
.ul-con-1 {
  display: flex;
  flex-direction: column;
  height: calc(100% - 74%);
  padding: $spacing-4x-large $spacing-4x-large $spacing-2x-large
    $spacing-4x-large;
  h2 {
    font-size: $font-size-x-large;
  }
  .p-1 {
    margin-top: $spacing-large;
    font-size: $font-size-x-medium;
    span {
      font-weight: $font-weight-bold;
    }
  }
  // * Button Container
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $spacing-large;
    .wrapper {
      display: flex;
    }
    // * Button Wrapper
    .wrapper:first-of-type {
      gap: 2rem;
      // * All-Member Button Styles
      button {
        @include primaryButton;
        a {
          color: $white;
        }
        img {
          cursor: pointer;
          margin-left: $spacing-3x-large;
        }
      }
      // * Borrower and Type Of Loan Dropdown Button
      button:nth-of-type(n + 2) {
        position: relative;
        background-color: aqua;
        img {
          position: absolute;
          transform: translateY(0.3rem);
        }
      }
      // * Borrower Dropdown Button
      .borrower-dropdown {
        position: relative;
        .dropdown-menu {
          // * When a link IS NOT clicked
          // * Styles for submenu
          @include dropdownMenu;
          box-shadow: $box-shadow;
          width: 100%;
          a {
            li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 100%;
              padding: $spacing-large $spacing-4x-large;
              span {
                font-size: $font-size-medium;
                font-weight: $font-weight-bold;
                white-space: nowrap;
                color: $white;
              }
            }
          }
        }
      }
      .borrower-dropdown.showMenu > .link.dropdown {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
      }
      .borrower-dropdown > .link.dropdown > img {
        transition: transform ease-out 300ms;
      }
      .borrower-dropdown.showMenu > .link.dropdown > img {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }
      // * Borrower Dropdown Menu
      .borrower-dropdown.showMenu > .link.dropdown + .dropdown-menu {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        border-bottom-left-radius: $border-radius-large;
        border-bottom-right-radius: $border-radius-large;
        // transition: opacity ease-out 250ms;
        animation: drop-down 500ms ease-in-out forwards;
      }
    }
    // * Search Wrapper
    .wrapper:last-of-type {
      gap: 2rem;
      display: flex;
      align-items: center;
      button {
        cursor: pointer;
        background: none;
        &:hover {
          transform: scale(1.015);
        }
      }
      .search-wrap {
        position: relative;
        display: flex;
        align-items: center;
        // * Search input text-field
        input {
          @include inputField;
          position: relative;
          padding-left: $spacing-6x-large;
          &::placeholder {
            font-size: $font-size-large;
            position: absolute;
            top: 0;
            transform: translateY(1rem);
          }
          &::-webkit-search-cancel-button {
            -webkit-appearance: none;
          }
        }
        img {
          position: absolute;
          width: 8%;
          transform: translateX(1.5rem);
        }
      }
    }
  }
  // * View Trash Button
  .btn-container {
    margin-top: $spacing-large;
    button {
      @include transparentButton;
    }
  }
}
// * Container 2: Table
.ul-con-2 {
  height: calc(100% - 26%);
  padding: $spacing-4x-large $spacing-4x-large $spacing-2x-large
    $spacing-4x-large;
  // * Table Container
  .table-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 10%);
    border-radius: $border-radius-large;
    box-shadow: $box-shadow;
    table {
      // **                         ** //
      // **** Table Header Styles **** //
      // **                         ** //
      th {
        padding: 2rem 0;
        text-align: center;
        span.th-name {
          font-size: $font-size-medium;
          font-weight: $font-weight-bold;
        }
        .th-wrapper {
          display: flex;
          align-items: center;
          img {
            cursor: pointer;
            padding-left: 0.5rem;
          }
        }
      }
      // * Table Checkbox
      input[type="checkbox"] {
        @include tableCheckboxInput;
        &::after {
          content: url("../assets/icons/white-check.svg");
          position: absolute;
          top: 0.1rem;
          visibility: hidden;
        }
        &:checked {
          background-color: $primary;
          animation: pop-up-big 300ms forwards;
        }
        &:checked:after {
          // animation: pop-up 300ms forwards;
          visibility: visible;
        }
      }
      // * All table header except the last child
      th:nth-of-type(-n + 5) {
        text-align: left;
      }
      // * Table Checkbox
      th:first-of-type {
        padding-left: 1rem;
      }
      // * Borrower
      th:nth-of-type(2) {
        padding-left: 1rem;
      }
      // **                       ** //
      // **** Table Data Styles **** //
      // **                       ** //
      td {
        padding: $spacing-medium 0;
        font-size: $font-size-medium;
        // * Borrowers' Data Styles
        .td-wrapper {
          display: flex;
          align-items: center;
          .td-num {
            font-weight: $font-weight-bold;
            margin-left: 1rem;
          }
          .td-name {
            margin-left: 2rem;
          }
        }
        // * Table Buttons Styles
        .td-btn-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            cursor: pointer;
          }
          // * Table View Button
          .a-btn-view {
            @include secondaryButton;
          }
          // * Table Trash Button
          .a-btn-trash {
            @include transparentButton2;
          }
        }
      }
      // * Due Date Data
      .td-due {
        font-weight: $font-weight-bold;
      }
      td:first-of-type {
        padding-left: 1rem;
      }
      td:nth-of-type(2) {
        padding-left: 1rem;
      }
    }
  }
}

// * Add New User Container
// * Container 1: User Registration Form Fields and Buttons
.nu-con-1 {
  width: 100%;
  padding: 2rem 2rem;
  // * Container Wrapper
  .container-wrapper {
    @include bigContainer2Grid;
    grid-template-columns: minmax(0, 1.6fr) minmax(0, 0.6fr);
    @include containerDefault2;
    padding: 5rem 4rem 5rem 5rem;
    // * Big Container
    .big-con {
      height: 100%;
      width: 100%;
      @include bigContainerGrid;
      grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
          0,
          1fr
        ) minmax(0, 1fr) minmax(0, 1fr);
      // ** Rowspan Global Styles
      .rowspan {
        min-height: 0;
        /* NEW */
        min-width: 0;
        /* NEW; needed for Firefox */
        .input-wrapper {
          display: flex;
          flex-direction: column;
          span {
            margin-bottom: 1rem;
            font-weight: $font-weight-bold;
            font-size: $font-size;
          }
          // * Input Global Styles
          input {
            @include inputField;
          }
          // * Select Input Global Styles
          .select-box {
            position: relative;
            select {
              @include selectField;
              width: 100%;
              option {
                position: absolute;
                outline: none;
                border: none;
                background-color: $secondary-bg;
              }
            }
          }
          // * Select Input Arrow
          .select-box::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            z-index: 2;
            right: 0;
            transform: translateY(1rem) translateX(-1.5rem) rotate(-45deg);
            // border: 2px solid $black;
            border-bottom: 2px solid $black;
            border-left: 2px solid $black;
            transition: ease-out 300ms;
            pointer-events: none;
          }
          .select-box:focus-within::before {
            border-top: 2px solid $black;
            border-right: 2px solid $black;
            border-bottom: none;
            border-left: none;
            transform: translateY(1.3rem) translateX(-1.5rem) rotate(-45deg);
          }
          // * Radio Buttons
          .box-wrap {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .radio-btn-wrapper {
              display: flex;
              flex-direction: column;
              align-items: center;
              span {
                white-space: nowrap;
              }
              input[type="radio"] {
                @include formRadioButtons;
              }
              input[type="radio"]::after {
                @include formRadioButtonsAfter;
              }
              input[type="radio"]:checked:after {
                @include formRadioButtonsChecked;
              }
              // input[type="radio"]:focus {
              //     outline: max(1px, 0.15em) solid $primary;
              //     outline-offset: max(2px, 0.15em);
              // }
            }
          }
        }
      }
      // * Rowspan Header: Header and Buttons
      .rowspan:first-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: $font-size-x-large;
        }
        .btn-wrapper {
          button {
            @include primaryButton;
          }
          button:first-of-type {
            margin-right: 1.5rem;
          }
        }
      }
    }
    // * Small Container
    .small-con {
      width: 100%;
      // display: grid;
      // place-content: center;
      padding: 2rem 0 2rem 2rem;
      // * Box
      .box {
        display: grid;
        height: 100%;
        width: 100%;
        padding-top: 10rem;
        // * Rowspan Global Styles
        .box-wrap {
          box-shadow: none;
          // padding: min(3rem, 5%) min(4rem, 10%);
        }
        // * Boxwrap 1
        .box-wrap:first-of-type {
          // * Colspan 1
          .colspan {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            .input-wrapper {
              width: 100%;
              // margin-bottom: min(2rem, 10%);
              display: grid;
              place-items: center;
              input {
                box-shadow: none;
              }
              input[type="image"] {
                width: clamp(4rem, 15vw, 100%);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            // * Buttons
            .btn-wrapper {
              display: flex;
              flex-direction: column;
              gap: 2rem;
              .cancel-btn {
                cursor: pointer;
                pointer-events: all;
                font-size: $font-size-medium;
                font-weight: $font-weight-bold;
                color: $font-accent;
                text-decoration: underline;
                background: none;
              }
            }
          }
        }
      }
    }
  }
}
// * Container 2: User Restrictions Radio Buttons
.nu-con-2 {
  width: 100%;
  padding: 2rem 2rem;
  // * Container Wrapper
  .container-wrapper {
    // @include bigContainer2Grid;
    display: grid;
    grid-template-rows: minmax(0, 0.4fr) minmax(0, 1.6fr);
    @include containerDefault2;
    padding: 5rem 4rem 5rem 5rem;
    .header-con {
      display: flex;
      align-items: center;
      gap: 0 6rem;
      border-bottom: 4px solid $black;
      h2 {
        font-size: $font-size-x-large;
      }
      .input-wrapper-checkbox {
        display: flex;
        gap: 1rem;
        span {
          font-size: $font-size-x-medium;
          font-weight: $font-weight-bold;
        }
      }
    }
    // * Container 1: Table
    .ur-con-1 {
      // * Table Container
      .table-container {
        table {
          // **                         ** //
          // **** Table Header Styles **** //
          // **                         ** //
          th {
            padding: 4rem 0;
            text-align: left;
            &.th-name {
              font-size: $font-size-medium;
              font-weight: $font-weight-bold;
              
            }
          }
          .flex-data {
            display: flex;
            gap: 0 1rem;
          }
          // * Table Checkbox
          th:first-of-type {
            padding-left: 1rem;
          }
          // * Borrower
          th:nth-of-type(2) {
            padding-left: 1rem;
          }
          // **                       ** //
          // **** Table Data Styles **** //
          // **                       ** //
          td {
            padding: $spacing-large 0;
            font-size: $font-size-medium;
          }
          
          td:first-of-type {
            padding-left: 1rem;
          }
          td:nth-of-type(2) {
            padding-left: 1rem;
          }
        }
      }
    }
  }
}
