// * Fade-in
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// * Fade-out
@keyframes fade-out {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

// * Pop Up
@keyframes pop-up {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1.010);
    }
    100% {
        transform: scale(1);
    }
}

// * Pop Up
@keyframes pop-up-big {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1.015);
    }
    75% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

// * Slide-Up
@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

// * Slide-Down
@keyframes slide-down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

// * Drop-Down
@keyframes drop-down {
    0% {
        opacity: 0;
        transform: translateY(-35%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

// * Slide-from-Left-to-Right
@keyframes slide-from-left-to-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

// * Slide-from-Center-to-left
@keyframes slide-from-center-to-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
